<template>
	<v-flex xs12>
		<v-textarea
			v-model="description"
			solo
			class="white--text elevation-0"
			label="Describe the item "
			hint="The Woodman set to work at once, and so sharp was his axe that the tree was soon chopped nearly through."
		></v-textarea>
		<div class="text-xs-center w-mx">
	        <v-btn block color="black" class="mx-0 white--text" @click="$emit('done', description)">Continue</v-btn>
	    </div>
	</v-flex>
</template>
<script>
	export default {
		data: () => {
			return {
				description: ''
			}
		}
	}
</script>