<template>
<v-stepper v-model="stepper" vertical style="height: 1020px; box-shadow: none; border-radius: 0px;">
	<v-stepper-step :complete="stepper > 1" step="1">What is the name of the product?</v-stepper-step>
	<v-stepper-content step="1"> 
		<productName @done="setName"></productName>
	</v-stepper-content>

	<v-stepper-step :complete="stepper > 2" step="2">Describe the product to us...</v-stepper-step>
	<v-stepper-content step="2">
		<productDescription @done="setDescription"></productDescription>
  		<div>
	  		<v-btn icon @click="stepper--">
	  			<v-icon>mdi-reload</v-icon>
	  		</v-btn>
	  	</div>
	</v-stepper-content>

	<v-stepper-step :complete="stepper > 3" step="3">How much is the product?</v-stepper-step>
	<v-stepper-content step="3">
		<productPrice @done="setPrice"></productPrice>
  		<div>
	  		<v-btn icon @click="stepper--">
	  			<v-icon>mdi-reload</v-icon>
	  		</v-btn>
	  	</div>
	</v-stepper-content>

	<v-stepper-step :complete="stepper > 4" step="4">What type of product is this?</v-stepper-step>
	<v-stepper-content step="4">
		<productType @done="setType"></productType>
  		<div>
	  		<v-btn icon @click="stepper--">
	  			<v-icon>mdi-reload</v-icon>
	  		</v-btn>
	  	</div> 	
	</v-stepper-content>

	<v-stepper-step :complete="stepper > 5" step="5">Add your product images</v-stepper-step>
	<v-stepper-content step="5">
		<fileUploader @update:fileList="updateImages" :limit="1"></fileUploader>
		<v-progress-circular
		 indeterminate
		 color="primary"
		 class="my-4"
		 v-if="load"
		 ></v-progress-circular>
  		<div>
	  		<v-btn icon @click="stepper--">
	  			<v-icon>mdi-reload</v-icon>
	  		</v-btn>
	  	</div>
	</v-stepper-content>
 
	<v-stepper-step :complete="stepper > 6" step="6">How many products are available?</v-stepper-step>
	<v-stepper-content step="6">
		<productQuantity @done="addProduct"></productQuantity>
  		<div>
	  		<v-btn icon @click="stepper--">
	  			<v-icon>mdi-reload</v-icon>
	  		</v-btn>
	  	</div>
	</v-stepper-content>

</v-stepper>
</template>
<script>
import axios from 'axios'
import Cookies from 'js-cookie'
import { v4 as uuidv4 } from 'uuid'
import productName from './name'
import productDescription from './description'
import productPrice from './price'
import productQuantity from './quantity'
import productType from './type'
import productImages from './images'

export default {
	components: {
		productName,
		productDescription,
		productPrice,
		productQuantity,
		productType,
		productImages,
	},

	data: () => {
		return {
			stepper: 1,
			load: false,
			name: '',
			description: '',
			quantity: '',
			price: '',
			images: [],
		}
	},

	watch: {
		stepper(v){
			window.scrollTo(0, 0);
		}
	},

	methods: {
		setName(e){
			this.name = e
			this.stepper = 2
		},
		setDescription(e){
			this.description = e
			this.stepper = 3
		},
		setPrice(e){
			this.price = e
			this.stepper = 4
		},
		setType(e){
			this.type = e
			this.stepper = 5
		},
		setImages(e){
			this.images = e
			this.stepper = 6
		},
		updateImages(e){
		  this.images = e[0]
		  this.imageIndex = e[1]
		  this.uploadImg()
		},
		uploadImg(){
		  this.load = true
		  var fd = new FormData()
		  var blob = this.images[this.imageIndex].src
		  var uuid = uuidv4()

		  var str = blob.name.split('.')
		  var fileName = uuid + '.' + str[1]

		  var newFile = new File([blob], fileName, {type: blob.type})

		  fd.append('file', newFile )
		  fd.append('filename', fileName)

		  axios.post('api/files/', fd, { headers: {
		        'Content-Type': 'multipart/form-data',
		        'X-CSRFToken': Cookies.get('csrftoken')} 
		      }).then( (res) => {
		        this.load = false
		        this.images = res.data
		        this.stepper = 6
		    }, () => {
		      console.log('oops')
		  })
		},
		addProduct(e){
			this.quantity = e
			var product = {name:this.name, description:this.description, type: this.type, images: this.images, quantity:this.quantity, price:this.price};
			this.$emit('done', product)
		}
	}
}
</script>
<style>
	.hidden {
		display: none!important;
	}
	.application--wrap {
		background: url('/images/slider-7.gif') no-repeat;
		/* background-position-x: right; */
		background-position-y: bottom;
	}
</style>