<template>
	<v-flex xs12>
		<v-text-field
		  v-model="name" 
		  class="white--text elevation-0"
		  solo
		  label="Name Your Item" 
		  hint="Enter the name of the item you're selling"
		  persistent-hint
		></v-text-field>
		<div class="text-xs-center w-mx" v-if="name">
	        <v-btn block color="black" class="mx-0 white--text" @click="$emit('done', name)">Continue</v-btn>
	    </div>
	</v-flex>
</template>
<script>
	export default {
		data: () => {
			return {
				name: ''
			}
		}
	}
</script>