<template>
	<v-flex xs12>
		<v-text-field
		  v-model="price" 
		  class="white--text elevation-0"
		  solo
		  type="number"
		  label="Price of your item" 
		  hint="Enter the price of the item you're selling"
		  persistent-hint
		></v-text-field>
			<div class="text-xs-center w-mx" v-if="price">
		        <v-btn block color="black" class="mx-0 white--text" @click="$emit('done', price)">Continue</v-btn>
		    </div>
	</v-flex>
</template>
<script>
	export default {
		data: () => {
			return {
				price: ''
			}
		}
	}
</script>