<template>
	<v-flex xs12>
		<v-switch
		   v-model="limitedQuantity"
		   v-if="!limitedQuantity"
		   label="Are the items in limited quantity?"
		 ></v-switch>
		<v-text-field
		  v-if="limitedQuantity"
		  v-model="quantity" 
		  class="white--text elevation-0"
		  solo
		  type="number" 
		  hint="Enter the number of the items you're selling"
		  persistent-hint
		></v-text-field>
		<div class="text-xs-center w-mx" v-if="quantity || !limitedQuantity">
	        <v-btn block color="black" class="mx-0 white--text" @click="$emit('done', quantity)">Continue</v-btn>
	    </div>
	</v-flex>
</template>
<script>
	export default {
		data: () => {
			return {
				quantity: '',
				limitedQuantity: false,
			}
		}
	}
</script>