<template>
  <v-sheet
    class="mx-auto"
    elevation="8"
    max-width="800"
  >
  <h1 class="title" style="font-family: Staatliches!important;"> {{ model.name }}</h1>
    <v-slide-group
      v-model="model"
      class="pa-4"
      show-arrows
    >
      <v-slide-item v-for="(type, i) in types" :key="i">
        <v-card :color="(model.name == type.name) ? 'primary' : 'grey lighten-1'" class="ma-4"
          height="200"
          width="100"
          @click="setType(type)"
        >
          <v-row
            class="fill-height"
            align="center"
            justify="center"
          >
            <v-scale-transition>
              <v-icon
                v-if="model.name == type.name"
                color="white"
                size="48"
                v-text="type.icon"
              ></v-icon>
            </v-scale-transition>
          </v-row>
        </v-card>
      </v-slide-item>
    </v-slide-group>
  	<div class="text-xs-center w-mx" >
      <v-btn block color="black" class="mx-0 white--text" @click="$emit('done', model)">Continue</v-btn>
	</div>
  </v-sheet>
</template>

<script>
  export default {
    data: () => ({
      model: {name:'ticket', icon: 'mdi-ticket'},
      types: [ {name:'ticket', icon: 'mdi-ticket'}, {name: 'drink', icon: 'mdi-cup-water'}, {name: 'consumable', icon: 'mdi-noodles'},{ name: 'merchandise', icon: 'mdi-hanger'}]
    }),
    methods: {
    	setType(e){
    		this.model = e
    	}
    }
  }
</script>