	<template>
	<v-app dark class=blck>
	    <v-app-bar
	      flat
	      height=46 
	      fixed
	      style="box-shadow:rgba(255, 255, 255, 0.26) 0px 1px 20px 1px;"
	      color="black"
	    >
		    <v-btn icon dark small @click="$router.go(-1)">
		      <v-icon>mdi-chevron-left</v-icon>
		    </v-btn>
	     <v-spacer></v-spacer>
	     <router-link :to="{ name: 'home'}">
		     <v-btn icon >
		     	<img src="/static/apple-icon.png" style="height: 30px;" elevation="1"></img>
		     </v-btn>
	 	 </router-link>
	     <v-spacer></v-spacer>
	    <v-menu offset-y>
	      <template v-slot:activator="{ on, attrs }">
	        <v-btn icon dark v-bind="attrs" v-on="on" small @click="share">
	          <v-icon>mdi-export-variant</v-icon>
	        </v-btn>
	      </template>
	      <v-list v-if="shareNav">
	        <v-list-item class=px-0>
	           <ShareNetwork network="facebook" :url="sharing.url" :title="sharing.title" :description="sharing.description" :quote="sharing.quote" :hashtags="sharing.hashtags":twitterUser="sharing.twitterUser"
	           >
	           	<facebook-icon class="white--text mx-3" size="2.5" style="height: 18px; width: 18px;"></facebook-icon>
	           </ShareNetwork>
	        </v-list-item>
	        <v-list-item class=px-0>
	           <ShareNetwork network="twitter" :url="sharing.url" :title="sharing.title" :description="sharing.description" :quote="sharing.quote" :hashtags="sharing.hashtags":twitterUser="sharing.twitterUser"
	           >
	          	<twitter-icon class="white--text mx-3" size="2.5" style="height: 18px; width: 18px;"></twitter-icon>
	           </ShareNetwork>
	        </v-list-item>
	        <v-list-item class=px-0>
	            <ShareNetwork network="reddit" :url="sharing.url" :title="sharing.title" :description="sharing.description" :quote="sharing.quote" :hashtags="sharing.hashtags":twitterUser="sharing.twitterUser"
	            >
	           	<reddit-icon class="white--text mx-3" size="2.5" style="height: 18px; width: 18px;"></reddit-icon>
	            </ShareNetwork>
	        </v-list-item>
	        <v-list-item class=px-0>
	             <ShareNetwork network="pinterest" :url="sharing.url" :title="sharing.title" :description="sharing.description" :quote="sharing.quote" :hashtags="sharing.hashtags":twitterUser="sharing.twitterUser"
	             >
	            	<pinterest-icon class="white--text mx-3" size="2.5" style="height: 18px; width: 18px;"></pinterest-icon>
	             </ShareNetwork>
	        </v-list-item>
	      </v-list>
	    </v-menu>
	    </v-app-bar> 
	    <v-container
	      class="fluid mx-auto elevevation-0 px-0"
	      max-width="560"
	      style="margin-top: 34px;box-shadow: none;height: fit-content;"
	    >

	      <v-card
	        class="mx-auto elevation-0 blck mt-3"
	        max-width="344"
	        dark
	      >
	      <div>
	      	<v-avatar
	      	  size="120"
	      	  v-if="!_.isEmpty(profile)"
	      	>
	      	  <img
	      	    :src="`https://s3-us-west-1.amazonaws.com/xp.ciaobenga.com/media/public/${ jsonParse(profile.avatar).filename}`"
	      	    alt="Avatar"
	      	  >
	      	</v-avatar>

	      </div>
	     
	      <p class="display-1 " style="font-family: Staatliches!important;" v-if="!_.isEmpty(user)">
	       {{ ($route.name == 'profile') ? user.username : $route.params.username }}
	      </p>
	      <p class="staat">lv{{profile.level}}</p>
	      <router-link :to="{ name: 'settings'}">
		      <v-btn icon dark small v-if="owner" >
		        <v-icon>mdi-tune-vertical</v-icon>
		      </v-btn>
		  </router-link>

	      <div>
	      	<a  v-if="!owner && !following" @click="follow" class="white--text small font-weight-black" style="font-size: small;">Follow</a>
	      	<v-btn small text outlined class="my-2" v-if="!owner && following" @click="unfollowOverlay = true"  style="font-size: 6px!important;">
	      		<span><v-icon>mdi-chevron-down</v-icon></span>&nbsp;</v-btn>
	      </div>

	    <v-overlay :value="unfollowOverlay" :opacity="0.95">
       	  <v-container fluid fill-height>
       	    <v-row class="center-items">
       	      <v-col >
       	        <div class="text-xs-center" style="margin-bottom: 20px;">
       	          <v-avatar
       	          	 v-if="!_.isEmpty(profile)"
       	            size="120"
       	          >
       	            <img
       	              :src="`https://s3-us-west-1.amazonaws.com/xp.ciaobenga.com/media/public/${ jsonParse(profile.avatar).filename}`"
       	              alt="Avatar"
       	            >
       	          </v-avatar>
       	        </div>
       	        <p>Are you sure you would like to unfollow this user?</p>
       	        <div>
       	          <v-btn icon @click="unFollow">
       	            <v-icon>mdi-check</v-icon>
       	          </v-btn>
       	          <v-btn icon @click="unfollowOverlay = false">
       	            <v-icon>mdi-cancel</v-icon>
       	          </v-btn>
       	        </div>
       	      </v-col> 
       	    </v-row>
       	  </v-container>
       	</v-overlay>


	      <v-tabs dark icons-and-text hide-slider fixed-tabs centered class="my-2">
	        <v-tab @click="followsOverlay" :ripple="false" class=blck>
	        	<p class="small--text">following</p>
	        	<p>{{follows.length}}</p>
	        </v-tab>
	        <v-tab @click="followersOverlay" :ripple="false" class=blck>
	        	<p class="small--text">followers</p>
	        	<p>{{followers.length}}</p>
	        </v-tab>
	        <v-tab @click="friendsOverlay":ripple="false" class=blck>
	        	<p class="small--text">friends</p>
	        	<p>{{friends.length}}</p>
	        </v-tab>
	      </v-tabs>
	      <div class="my-2" style="font-size: medium;"> 
	        {{ profile.bio }}<br>
	      </div>

	       	
	      <v-tabs v-model="tabs" dark fixed-tabs hide-slider icons-and-text centered class="my-2">
	      	<v-tab :ripple="false" class=blck>
	      		<p class=" small--text">posts</p>
	      	</v-tab>
	        <v-tab :ripple="false" v-if="owner"	 class=blck>
	        	<p class=" small--text">saved</p>
	        </v-tab>
	        <v-tab v-if="owner" :ripple="false" class=blck>
	        	<p class=" small--text">tipped</p>
	        </v-tab>
	      </v-tabs>

	  	  </v-card>
	    </v-card>

	     <masonry
	       v-if="!_.isEmpty(posts)"
	       :cols="{default: 3, 1000: 3, 700: 3, 400: 3}"
	       :gutter="3"
	       >
	       <div class="square"  v-for="(post, index) in posts" :key="index">
	       	<div class="content">
	       		<router-link :to="{ path: `/p/${post.uuid}`}" >
	       			<div v-lazy-container="{ selector: 'img' }" v-if="post.TTI != 'true' || owner">
	       				<v-btn class="mx-2" icon x-small color=white style="position: absolute;top: 0; margin-top: 10px;">
	       				  <v-icon dark>mdi-image-multiple</v-icon>
	       				</v-btn> 
		       			<img
		       			  class=my-1
		       			  style="width: 100%;height: 100%;"	
		       			  data-loading="/static/load.gif"
		       			  data-error="/static/error.gif"
		       			 :data-src="`https://s3-us-west-1.amazonaws.com/xp.ciaobenga.com/media/public/${ jsonParse(post.media)[0].filename}`"
		       			></img>
		       		</div>
		       		<div class="f">
		       			<img src="static/restricted.gif" class=my-1 style="width: 100%;height: 100%;"	/>
		       		</div>
	       		</router-link>
	       	</div>
	       </div>
	     </masonry>
	     <v-container v-else fluid>
	       <v-row justify-center align-center>
	         <v-col >
	         	<v-icon dark>mdi-camera-outline</v-icon>
	           	<h1 class="my-2 white--text" style="font-family: Staatliches!important;">Sorry, No posts found</h1>
	          </v-col>
	       </v-row>
	     </v-container>
	       <v-dialog
	         v-model="dialog"
	         fullscreen
	         hide-overlay
	         transition="dialog-bottom-transition"
	       >
	         <v-app-bar
	           dark
	           fixed
	           style="z-index: 99999;"
	           color="primary"
	           height=46
	         >
	         <v-btn icon dark small @click="dialog = false">
	           <v-icon>mdi-chevron-left</v-icon>
	         </v-btn>
	           <v-spacer></v-spacer>
	           <v-toolbar-title style="font-size: 0.9rem;">{{ overlayTitle }}</v-toolbar-title>
	           <v-spacer></v-spacer>
	         </v-app-bar>
	         <v-row justify=center align=center>
	         	<v-col cols=12 sm=6 md=4>
	         		<v-list two-line nav style="margin-top: 30px;">
	         			<v-list-item
	         			  v-if="!_.isEmpty(profiles)"
	         			  v-for="(profile, i) in profiles" :key="'P'+i">
	         			<v-list-item-avatar style="width: auto;">
	         			  <img
	         			    
	         			    style="height:40px;width: 40px;"
	         			    :src="`https://s3-us-west-1.amazonaws.com/xp.ciaobenga.com/media/public/${ jsonParse(profile.profile.avatar).filename}`"
	         			    alt="Avatar"
	         			  >
	         			</v-list-item-avatar>

	         			<v-list-item-content >
	         			    <v-list-item-title class="small" style="font-size: 0.9rem;text-align: left!important;margin-left: 10px;text-transform: capitalize;" v-text="profile.user.username"></v-list-item-title>
	         			    <v-list-item-subtitle style="text-align: left!important;margin-left: 10px;" v-text="`${ profile.profile.XP}XP`"></v-list-item-subtitle>
	         			</v-list-item-content>
	         			<v-list-item-action>
	         			  <a  :href="`/#/u/${profile.user.username}`" class="blue--text small font-weight-black" style="font-size: small;">View</a>
	         			</v-list-item-action>
	         			</v-list-item>
	         		</v-list>
	         	</v-col>
	         </v-row>
	       </v-dialog>
	    </v-container>
	</v-app>
</template>
<script>
import { FacebookIcon, TwitterIcon, RedditIcon, PinterestIcon } from 'vue-simple-icons'
import axios from 'axios'
import Cookies from 'js-cookie'	


export default {
	data: () => {
		return {
			overlay: true,
			tabs: 0,
			dialog: false,
			profile: {}, 
			owner: false,
			events: [],
			orders: [],
			followers: [],
			following: false,
			follows: [],
			friends: [],
			profiles: [],
			tenor: [],
			posts: [],
			saved: [],
			value: null,
			unfollowOverlay: false,
			profilesOverlay: false,
			shareNav: true,
			overlayTitle: '',
			productType: 'ticket',
			productTypes:  [ {name:'ticket', icon: 'mdi-ticket'}, {name: 'drink', icon: 'mdi-cup-water'}, {name: 'consumable', icon: 'mdi-noodles'},{ name: 'merchandise', icon: 'mdi-hanger'}],
			item: 1,
			items: [
			  { text: 'Real-Time', icon: 'mdi-clock' },
			  { text: 'Audience', icon: 'mdi-account' },
			  { text: 'Conversions', icon: 'mdi-flag' },
			],
			sharing: {
			  url: '',
			  title: '',
			  description: '',
			  quote: 'Bringing people together through shared experience',
			  hashtags: 'EXPERIENCE,XP',
			  twitterUser: 'ciaobenga'
			}
		}
	},
	components: {
		FacebookIcon,
		TwitterIcon,
		RedditIcon,
		PinterestIcon,
	},

	mounted(){
		this.$store.dispatch('getUser', {})
		this.emptyBag()
	},

	computed: {
		appFee(){
			return (this.$store.state.total * 0.099).toFixed(2)
		},
		user(){
			return this.$store.state.user
		},
		XP() {
			return this.$store.state.XP
		}, 
		session() {
			return this.$store.state.session
		},
		tipped(){
			return this.$store.state.tipped
		},
		total: {
		    get () {
		      return (this.$store.state.total * 1.0495).toFixed(2)
		    },
		    set (value) {
		      this.$store.commit('UPDATE_TOTAL', value)
		    }
		},
		bag: {
		    get () {
		      return this.$store.state.bag 
		    },
		    set (value) {
		      this.$store.commit('UPDATE_BAG', value)
		    }
		},
		session: {
			get () {
				return this.$store.state.session
			},
			set (value) {
				this.$store.commit('SET_SESSION', value)
			}
		}
	},

	watch: {
		user(x){
			if (x == 'False' && this.$route.name == 'profile') {
				this.$router.push({name:'authorize'})
			}else{
				this.getUserProfile()
				// this.getUserEvents()
				this.getUserPosts()
			}
		},
		owner(x){
			if (true) {
				this.getSavedPosts()
				this.$store.dispatch('getTippedPosts', {})
			}
		},
		tabs(x){
			if(x==0) {
				this.posts = this.tenor
			}
			if (x == 1) {
				this.posts = this.saved
			}
			if (x == 2) {
				this.posts = this.tipped
			}
		}

	},

	methods: {
		share(){
			if (navigator.share) {
			  this.shareNav = false
			  navigator.share({
			    title: this.profile.user.username,
			    text: this.sharing.quote,
			    url: window.location.href
			  }).then(() => {
			    console.log('Thanks for sharing!');
			  })
			  .catch(err => {
			    console.log(`Couldn't share because of`, err.message);
			  });
			}
		},
		emptyBag(){
			this.total = 0
			this.bag.splice(0, this.bag.length)
		},
		jsonParse(e){
		  return JSON.parse(e)
		},
		setProductType(e){
			this.productType = e
		},
		confirmUnfollow(){
			this.unfollowOverlay = true
		},
		followsOverlay(){
			this.profiles = this.follows
			this.overlayTitle = 'Follows'
			this.dialog = true
		},
		followersOverlay(){
			this.profiles = this.followers
			this.overlayTitle = 'Followers'
			this.dialog = true
			
		},
		friendsOverlay(){
			this.profiles = this.friends
			this.overlayTitle = 'Friends'
			this.dialog = true
		},
		getUserProfile(){
			var f = new FormData()
			f.append('username', (this.$route.name == 'profile') ? this.user.username : this.$route.params.username )
			axios.post('/getProfile', f, {headers: {
				'Content-Type': 'multipart/form-data',
			    'X-CSRFToken': Cookies.get('csrftoken')}
		    }).then( (r) => {
		    	if(r.data != 'False'){
		    	  this.profile = r.data.profile
		    	  this.owner = r.data.owner
		    	  this.getFollowers()
		    	  this.getFollows()
		    	  this.getFriends()
		    	}else{
		    		if (this.$route.name == 'profile') {
		    			this.$router.push({name:'settings'})
		    		}else{
		    			this.$router.push({name:'404'})
		    		}
		    	}
			}).catch( (error) => {
			    this.$emit('error', 'Looks like something went wrong')
			    this.loading = false
			})
		},
		getUserEvents(){
			var f = new FormData()
			f.append('username', (this.$route.name == 'profile') ? this.user.username : this.$route.params.username )
			axios.post('/getUserEvents',f, {headers: {
				'Content-Type': 'multipart/form-data',
			    'X-CSRFToken': Cookies.get('csrftoken')}
		    }).then( (r) => {
		    	if(r.data != 'False'){
		    		this.events = r.data
		    	}else{
		    		this.events = []
		    	}
			}).catch( (error) => {
			    this.$emit('error', 'Looks like something went wrong')
			    this.loading = false
			})
		},
		getUserPosts(){
			var f = new FormData()
			f.append('username', (this.$route.name == 'profile') ? this.user.username : this.$route.params.username )
			axios.post('/getUserPosts',f, {headers: {
				'Content-Type': 'multipart/form-data',
			    'X-CSRFToken': Cookies.get('csrftoken')}
		    }).then( (r) => {
		    	if(r.data != 'True'){
		    		this.posts = r.data
		    		this.tenor = r.data
		    	}else{
		    		this.posts = []
		    	}
			}).catch( (error) => {
			    this.$emit('error', 'Looks like something went wrong')
			    this.loading = false
			})
		},
		getSavedPosts(){
			var f = new FormData()
			f.append('username', this.user.username )
			axios.post('/getSavedPosts',f, {headers: {
				'Content-Type': 'multipart/form-data',
			    'X-CSRFToken': Cookies.get('csrftoken')}
		    }).then( (r) => {
		    	if(r.data != 'True'){
		    		this.saved = r.data
		    	}else{
		    		this.saved = []
		    	}
			}).catch( (error) => {
			    this.$emit('error', 'Looks like something went wrong')
			    this.loading = false
			})
		},
		getUserOrders(){
			var f = new FormData()
			f.append('username', (this.$route.name == 'profile') ? this.user.username : this.$route.params.username )
			axios.post('/getUserOrders', f, {headers: {
				'Content-Type': 'multipart/form-data',
			    'X-CSRFToken': Cookies.get('csrftoken')}
		    }).then( (r) => {
		    	if(r.data != 'False'){
		    		this.orders = r.data
		    	}
			}).catch( (error) => {
			    this.$emit('error', 'Looks like something went wrong')
			    this.loading = false
			})
		},
		//getOrdersReceived
		follow(){
			var f = new FormData()
			f.append('username', this.$route.params.username )
			axios.post('/followUser', f, {headers: {
				'Content-Type': 'multipart/form-data',
			    'X-CSRFToken': Cookies.get('csrftoken')}
		    }).then( (r) => {
		    	this.getFollowers()
			}).catch( (error) => {
			    this.$emit('error', 'Looks like something went wrong')
			    this.loading = false
			})
		},


		unFollow(){
			var f = new FormData()
			f.append('username', this.$route.params.username )
			axios.post('/unfollowUser', f, {headers: {
				'Content-Type': 'multipart/form-data',
			    'X-CSRFToken': Cookies.get('csrftoken')}
		    }).then( (r) => {
		    	this.getFollowers()
		    	this.unfollowOverlay = false
			}).catch( (error) => {
			    this.$emit('error', 'Looks like something went wrong')
			    this.loading = false
			})
		},

		getFollowers(){
			var f = new FormData()
			this.following = false
			f.append('username', (this.$route.name == 'profile') ? this.user.username : this.$route.params.username )
			axios.post('/getFollowers', f, {headers: {
				'Content-Type': 'multipart/form-data',
			    'X-CSRFToken': Cookies.get('csrftoken')}
		    }).then( (r) => {
		    	this.followers = r.data
		    	for(var i = 0; i < this.followers.length; i++) {
		    	    if (this.followers[i].user.username == this.user.username) {
		    	        this.following = true
		    	        break;
		    	    }
		    	}
			}).catch( (error) => {
			    this.$emit('error', 'Looks like something went wrong')
			    this.loading = false
			})
		},

		getFollows(){
			var f = new FormData()
			f.append('username', (this.$route.name == 'profile') ? this.user.username : this.$route.params.username )
			axios.post('/getFollows', f, {headers: {
				'Content-Type': 'multipart/form-data',
			    'X-CSRFToken': Cookies.get('csrftoken')}
		    }).then( (r) => {
		    	this.follows = r.data
			}).catch( (error) => {
			    this.$emit('error', 'Looks like something went wrong')
			    this.loading = false
			})
		},


		getFriends(){
			var f = new FormData()
			f.append('username', (this.$route.name == 'profile') ? this.user.username : this.$route.params.username )
			axios.post('/getFriends', f, {headers: {
				'Content-Type': 'multipart/form-data',
			    'X-CSRFToken': Cookies.get('csrftoken')}
		    }).then( (r) => {
		    	this.friends = r.data
			}).catch( (error) => {
			    this.$emit('error', 'Looks like something went wrong')
			    this.loading = false
			}) 
		},

		Checkout(){
			 var f = new FormData()
			 f.append('name', (this.$route.name == 'profile') ? this.user.username : this.$route.params.username)
			 f.append('merchant_key', this.profile.stripe_key)
			 f.append('description', this.profile.bio)
			 f.append('user', this.profile.user)
			 f.append('amount', Math.round(this.total*100))
			 f.append('currency', 'USD')
			 f.append('items', JSON.stringify(this.bag))
			 f.append('route_name', this.$route.name)
			 f.append('payout', (Math.round(this.total*100) - Math.round(this.appFee*100)))
			 
			 axios.post('/checkout', f, { headers: {
		          'X-CSRFToken': Cookies.get('csrftoken')} 
		        }).then( (r) => {
		        	 this.session = r.data
		        	 // pk_live_sMXJlPyFwJJ1GsqRuGq5nCSZ00dOm7UUAX
		        	 // pk_test_735YPPOQT1E6HIMuXyrEbBSm00rkTfy3sL
			         var stripe = Stripe('pk_live_sMXJlPyFwJJ1GsqRuGq5nCSZ00dOm7UUAX');
			         stripe.redirectToCheckout({
			           sessionId: r.data.id 
			         }).then(function (r) {
			           // If `redirectToCheckout` fails due to a browser or network
			           // error, displaxy the localized error message to your customer
			           // using `result.error.message`.
			         });
			 }, () => {
			     console.log('Looks like something went wrong')
			 })
		},

	}
}
</script>
<style>
	.avatar {
	  background-size: cover;
	  width: 150px;
	  height: 150px;
	  border-radius: 50%;
	  cursor: pointer;
	}
	.v-tab--active:focus:before {
	    opacity: 0!important;
	}
	.v-tab--active:hover:before {
		opacity: 0!important;
	}
	.theme--light.v-tabs .v-tab--active:before, .theme--light.v-tabs .v-tab--active:hover:before, .theme--light.v-tabs .v-tab:focus:before {
		opacity: 0!important;
	}
	.v-tab--active:before{
		display: none!important;
	}
	.staat {
		text-transform: uppercase!important;
		font-family: Staatliches!important;
	}
/*	.v-tabs-slider-wrapper {
		top: 0!important;
		bottom: auto!important;
	}*/
	.blck {
		background-color: black!important;
	}
	.square {
		position: relative;
		width: 100%;
		overflow: hidden;
	}

	.square:after {
		content: "";
		display: block;
		padding-top: 100%;	
	}

	.content {
		position:  absolute;
		top: 0;
		left: 0;
		bottom: 0;
		right: 0;
		text-align: center;
	}
	.small--text {
		font-size: small;
	}
	.quicksand {
		font-family: 'Quicksand', sans-serif!important;
	}
	html {
		background-color: black!important;
	}
</style>