<template>
  <v-flex xs12>
    <h1 v-if="editPlace != null" class="mb-4">{{ editPlace.formatted_address }}</h1>
    <gmap-autocomplete class="introInput" @place_changed="setPlace">
        <template v-slot:input="slotProps">
            <v-text-field
              style="width: 100%;"
              prepend-inner-icon="place"
              placeholder="Location Of Event"
              ref="input"
              solo
              v-on:listeners="slotProps.listeners"
              v-on:attrs="slotProps.attrs">
            </v-text-field>
        </template>
    </gmap-autocomplete>
    <div class="text-xs-left" style="margin-top: 10px;" v-if="place != null">
        <v-btn color="primary" block @click="$emit('done', place)">Continue</v-btn>
    </div>
  </v-flex>
</template>
<script>
export default {
  data:() => {
    return {
      editPlace: null,
      place: null,
      markers: [],
    }
  },
  props: ['editLocation'],
  watch: {
    editLocation(val){
      this.editPlace = val
    },
    place(val){
      this.editPlace = val
    }
  },
  methods: {
    setPlace(place) {
      this.place = place
    },
    usePlace(place) {
      if (this.place) {
        this.markers.push({
          position: {
            lat: this.place.geometry.location.lat(),
            lng: this.place.geometry.location.lng(),
          }
        })
        this.place = null;
      }
    }
  }
}
</script>