<template>
	<v-app>
	  <v-card flat>
	    <v-toolbar
	      color="black"
	      dark
	      extended
	      flat
	    >
        
        <router-link :to="{ name: 'search'}">
    	    <v-btn icon dark>
    	      <v-icon>mdi-magnify</v-icon>
    	    </v-btn>
    	</router-link>
    	</router-link>
        <v-spacer></v-spacer>
        <router-link :to="{ name: 'home'}">
	        <v-btn icon>
	        	<img src="/static/apple-icon.png" style="height: 40px;"></img>
	        </v-btn>
	    </router-link>
        <v-spacer></v-spacer>
        <router-link :to="{ name: 'dashboard'}">
    	    <v-btn icon dark>
    	    	<v-icon>mdi-view-dashboard-outline</v-icon>
    	    </v-btn>
    	</router-link>
	    </v-toolbar>

	    <v-card
	      class="mx-auto elevevation-0"
	      max-width="700"
	      style="margin-top: -34px;"
	    >

	      <v-divider></v-divider>

	      <stepper></stepper>
	    </v-card>
	  </v-card>
	</v-app>
</template>
<script>
	// there's a better way to do this (MIDDLEWARE)
	import stepper from './stepper'

	export default {
		components: {
			stepper
		}
	} 
</script>

<style>
	.pre {
	  width: 100%;
	  color: rgba(255, 255, 255,.7);
	}
	.con-imgs {
	  width: 170px;
	  height: 170px;
	  left: 0px;
	  top: 0px;
	  position: relative;
	  float: left;
	  /* background: rgb(170, 79, 155); */

	  display: flex;
	  align-items: center;
	  justify-content: center;
	  /* border-right: 1px solid rgba(0, 0, 0, 0.1); */
	  /* box-shadow: 0px 3px 10px 0px rgba(0, 0, 0, 0.1); */
	  margin: 5px;
	  border-radius: 10px;
	  padding: 5px;
	}
	.con-multiples-imgs li {
	  /* display: block; */
	  z-index: 100;
	  position: relative;
	}
	.con-multiples-imgs li img {
	  position: relative;
	  top: 0;
	  right: 0;
	  bottom: 0;
	  left: 0;
	  margin: auto;
	  max-width: 100%;
	  max-height: 100%;
	  border-radius: 10px;
	}
	.agregarx {
	  width: 150px;
	  height: 150px;
	  background: rgb(255, 255, 255);
	  position: relative;
	  float: left;
	  margin: 15px;
	  border-radius: 10px;
	  cursor: pointer;
	    box-shadow: 0px 6px 15px -3px rgba(0, 0, 0, 0.0);
	    transition: all .3s ease;
	    display: block;
	}
	.agregarx input {
	  cursor: pointer;
	}
	.agregarx:hover {
	  box-shadow: 0px 6px 20px -3px rgba(0, 0, 0, 0.150);
	  transform: translate(0,-6px);
	}
	.agregarx::after {
	  width: 60px;
	  height: 1px;
	  background: rgba(0, 0, 0, 0.15);
	  content: '';
	  position: absolute;
	  top: 50%;
	  left: 50%;
	  transform: translate(-50%);
	  display: block;
	}
	.agregarx::before {
	  width: 1px;
	  height: 60px;
	  background: rgba(0, 0, 0, 0.15);
	  content: '';
	  position: absolute;
	  top: 50%;
	  left: 50%;
	  transform: translate(0,-50%);
	  display: block;
	}
	.con-multiples-imgs {
	  width: auto;
	  height: auto;
	  /* background: rgb(138, 209, 39); */
	  box-shadow: 0px 0px 0px 0px rgba(0, 0, 0, 0.3);
	  border-radius: 10px;
	  z-index: 200;
	}
	.con-multiple {
	  width: 100%;
	  height: auto;
	  background: rgb(240, 240, 240);
	  border-radius: 10px;

	}
	.con-multiple-upload {
	  display: flex;
	  align-items: center;
	  justify-content: flex-start;
	}
	.fade-upload-enter-active img, .fade-upload-leave-active img {
	  transition: all .3s;
	}
	.fade-upload-enter img, .fade-upload-leave-to img /* .fade-upload-leave-active below version 2.1.8 */ {
	  transform: scale(.6);
	}
	.fade-upload-enter-active, .fade-upload-leave-active {
	  transition: all .3s;
	}
	.fade-upload-enter, .fade-upload-leave-to /* .fade-leave-active below version 2.1.8 */ {
	  opacity: 0;
	}

	.x-view {
	  width: 45px;
	  height: 45px;
	  position: absolute;
	  top: 10px;
	  right: 10px;
	  background: rgb(255, 255, 255);
	  box-shadow: 0px 5px 12px 0px rgba(0, 0, 0, 0.1);
	  display: flex;
	  align-items: center;
	  justify-content: center;
	  border-radius: 50%;
	  cursor: pointer;
	}
	.view-upload {
	    width: 100%;
	    height: 100%;
	    position: fixed;
	    background: rgba(0, 0, 0, 0.4);
	    display: flex;
	    align-items: center;
	    justify-content: center;
	    z-index: 100000;
	    padding: 15px;
	}
	.view-upload img {
	  position: relative;
	  top: 0;
	  right: 0;
	  bottom: 0;
	  left: 0;
	  margin: auto;
	  max-width: 100%;
	  max-height: 100%;
	  box-shadow: 0px 2px 14px 0px rgba(0, 0, 0,.4) !important;
	  border-radius: 10px;
	  /* overflow: hidden; */
	  transition: all .3s ease;
	}


	.upload-colorx {
	  width: 0px;
	  height: 0px;
	  position: relative;
	  position: absolute;
	  top: 0px;
	  z-index: 10;
	  border-radius: 50%;
	  transform: translate(0,-50%);
	  /* transition: all .3s ease; */
	}
	.x-img {
	  position: absolute;
	  right: 5px;
	  top: 5px;
	  width: 30px;
	  height: 30px;
	  background: rgb(255, 255, 255);
	  box-shadow: 0px 3px 12px 0px rgba(0, 0, 0, 0.1);
	  display: flex;
	  align-items: center;
	  justify-content: center;
	  border-radius: 50%;
	  z-index: 100;
	  cursor: pointer;
	}
	.x-img i {
	  font-size: 18px;
	  color: rgba(0, 0, 0, 0.7);
	}
	.input-upload {
	  position: absolute;
	  left: 0px;
	  top: 0px;
	  width: 100%;
	  height: 100%;
	  opacity: 0;
	  z-index: 1000;
	  cursor: pointer;
	}
	.con-subir {
	  background: rgb(240, 240, 240);
	  display: flex;
	  align-items: center;
	  justify-content: center;
	  padding: 7px;
	  margin-bottom: 10px;
	  border-radius: 10px;
	  color: rgba(0, 0, 0, 0.4);
	  transition: all .3s ease;

	}
	.con-subir input {
	  cursor: pointer;

	}
	/* .con-subir {
	  b
	} */
	.con-subir h3 {
	  font-size: 16px;
	  font-weight:lighter;
	}
	.con-upload:hover .con-subir{
	  color: rgb(var(--primary)) !important;
	}
	.con-subir i {
	  width: 35px;
	  height: 35px;
	  background: rgb(225, 225, 225);
	  display: flex;
	  align-items: center;
	  justify-content: center;
	  border-radius: 50%;
	  margin-left: 10px;
	  font-size: 20px;
	}
	.con-img-upload {
	  height: auto;
	  width: 300px;
	  display: flex;
	  align-items: flex-start;
	  justify-content: center;
	  /* background: rgb(136, 42, 107); */
	  /* padding: 10px; */
	  position: relative;
	  overflow: hidden;
	  z-index: 2000;
	  transition: all .3s ease, background 0s ease;
	  max-height: 300px;
	  border-radius: 10px;
	  opacity: 1;
	  transform: scale(1);
	  /* overflow: auto; */
	  /* overflow-x: hidden; */
	}
	.oculto {
	  max-height: 0px;
	  /* opacity: 0; */
	  transform: scale(.7);
	}
	.con-img-upload img {
	  position: relative;
	  top: 0;
	  right: 0;
	  bottom: 0;
	  left: 0;
	  margin: auto;
	  max-width: 100%;
	  max-height: 100%;
	  box-shadow: 0px 2px 14px 0px rgba(0, 0, 0,.4) !important;
	  border-radius: 10px;
	  overflow: hidden;
	  z-index: 20;
	  margin: 10px;
	  /* opacity: 1; */
	  /* transform: scale(.8); */
	  transition: all .3s ease;
	  transform: scale(1);
	  display: block;
	  cursor: pointer;
	}
	/* .img-visible {
	  opacity: 1 !important;
	  transform: scale(1) !important;
	} */
	.con-upload {
	  position: relative;
	  /* background: rgb(110, 210, 40); */
	}
</style>
