<template>
	<v-flex xs12>
	  <v-text-field
	    v-model="name" 
	    class="white--text elevation-0"
	    solo 
	    label="Name your experience" 
	    hint="Enter the name of your experience"
	    persistent-hint
	   
	  ></v-text-field>
	  <div class="align-left" v-if="name">
	  		<v-btn color="primary" block  @click="$emit('done', name)">Continue</v-btn>
	  </div>

	</v-flex>

</template>
<script>
	export default {
		data: () => { 
			return {
				name: ''
			}
		},
		props: ['editName'],
		watch: {
			editName(val){
				this.name = val
			}
		}

	}
</script>