<template>
  	<v-dialog
        ref="dialog4"
        v-model="modal4"
        fullscreen hide-overlay transition="dialog-bottom-transition"
      >
        <template v-slot:activator="{ on }">
		    <div class="con-multiple-upload"> 
		      <ul ref="ulmultiple" class="con-multiples-imgs">
		        <li v-for="(product,i) in eventProducts" class="con-imgs">
		          <div @click="deleteProduct(i)" class="x-img">
		             <v-icon>mdi-close</v-icon>
		          </div>
		          <div class="product-name">
		          	{{ product.name }}
		          </div>
		        </li>
	       
	        	<a @click="modal4 = true" v-on="on">
	        		<li class="agregarx elevation-1"></li>
	        	</a>
		      </ul>
		    </div>
	    	<div class="text-xs-center w-mx">
	            <v-btn color="black" block class="mx-0 white--text" @click="$emit('done', eventProducts)">Continue</v-btn>
	        </div>
        </template>


        <div v-if="modal4">
        	<v-card>
        	  <v-toolbar dark color="primary">
        	    <v-toolbar-title>Add products</v-toolbar-title>
        	    <v-spacer></v-spacer>
        	    <v-toolbar-items>
        	      <v-btn text @click="modal4 = false">Cancel</v-btn>
        	    </v-toolbar-items>
        	  </v-toolbar>
        	  <v-container fluid>
        	    <v-layout row wrap justify-center align-center>
        	    	<v-flex xs12 sm6>
        	      	<productsCreate @done="addProduct" @cancel="modal4 = false"></productsCreate>
        	      </v-flex>
        	    </v-layout>
        	  </v-container>

        	</v-card>
        </div>
    </v-dialog>
</template>
<script>
import productsCreate from './products'

export default {
	data: () => {
		return {
			eventProducts: [],
			modal4: false,
		}
	},
	props: ['editProducts'],
	watch: {
		editProducts(val){
			this.eventProducts = val
		}
	},
	components: { 
		productsCreate,
	},
	methods: {
		addProduct(e){
			this.eventProducts.push(e)
			this.modal4 = false
		},
		deleteProduct(i){
			this.eventProducts.splice(i, 1)
		}
	}
}
</script>
