<template>
	<v-container fluid >
		<v-layout row wrap>
		  <v-flex xs12 v-if="eventPromoters !== []">
		  	<v-list two-line nav>
		  		 <v-subheader class="custom-header">Promoters</v-subheader>
		  		<v-list-item
		  		  v-for="(item, i) in eventPromoters"
		  		  :key="i"
		  		  @click="routeTo(item.user.username)"
		  		>
		  		  <v-list-item-avatar>
		  		  	<v-avatar size="56px">
		  		  		<h1>{{ i+1 }}</h1>
		  		  	</v-avatar>
		  		  </v-list-item-avatar>

		  		  <v-list-item-content >
		  		    <v-list-item-title style="text-align: left!important;margin-left: 10px;" v-text="item.username"></v-list-item-title>
		  		    <v-list-item-subtitle style="text-align: left!important;margin-left: 10px;" v-text="item.commission*100+'%'"></v-list-item-subtitle>
		  		  </v-list-item-content>

		  		  <v-list-item-avatar>
		  		  	<v-btn icon @click="remove(i)">
		  		  	  <v-icon>mdi-close</v-icon>
		  		  	</v-btn>
		  		  </v-list-item-avatar>
		  		</v-list-item>
		  	</v-list>
		  </v-flex>
		  <v-flex xs12 sm6>
		  	<v-autocomplete
				v-model="model"
				:items="items"
				item-text="username	"
				label="Search for a promoter..."
				solo
				cache-items
		  	>
		  		<template v-slot:selection="data">
		  		    {{ data.item.username }}
		  		</template>
		  		<template v-slot:item="data" >
		  		    <v-list-item-content>
		  		      <v-list-item-title style="text-align: left;" v-html="data.item.username"></v-list-item-title>
		  		    </v-list-item-content>
		  		</template>
		  	</v-autocomplete>
		  </v-flex>
		  <v-flex xs12 sm6>
		  	<v-text-field
		  	  v-model="commission" 
		  	  solo
		  	  suffix="%"
		  	  type="number" 
		  	  hint="Add a commission for your promoter"
		  	  persistent-hint
		  	></v-text-field>
		  </v-flex>
		  <v-flex xs12>
		  	<v-card-actions>
		  	  <v-btn :disabled="model == []" text @click="checkStripeKey">
		  	    Add
		  	  </v-btn>
		  	  <v-spacer></v-spacer>
		  	  <v-btn color="primary" depressed @click="setPromoters">
		  	    {{ (_.isEmpty(eventPromoters)) ? 'skip' : 'continue' }}
		  	  </v-btn>
		  	</v-card-actions>
		  </v-flex>
		</v-layout>
		<v-snackbar :timeout="5000" bottom right v-model="alert" color="black" class="z-10">
		      <p>{{message}}</p>
		   <v-btn flat color="white" @click.native="alert = false">Close</v-btn>
		</v-snackbar>
	</v-container>
</template>
<script>
import axios from 'axios'
import Cookies from 'js-cookie'

export default {
	data: () => ({
	  isLoading: false,
	  items: [],
	  model: [],
	  search: null,
	  tab: null,
	  commission: null,
	  eventPromoters: [],
	  alert: false,
	  message: null,
	}),
	props: ['editPromoters'],

	mounted() {
	  this.$store.dispatch('getUsers', {})
	},

	computed: { 
		users(){
			return this.$store.state.users
		}
	},

	watch: {
		users(val){
			this.items = val
		},
		editPromoters(val){
			this.eventPromoters = val
		}
	},

	methods: {
		addPromoter(){
			var c = (this.commission * 0.01).toFixed(2)
			this.eventPromoters.push({ username: this.model.username, email: this.model.email, commission: c})
		},
		setPromoters(){
			this.$emit('done', this.eventPromoters)
		},
		remove(e){
			this.eventPromoters.splice(e, 1)
		},
		checkStripeKey(){
			var f = new FormData()
			f.append('username', this.model.username)
			axios.post('/checkStripeKey', f, {headers: {
			      'Content-Type': 'multipart/form-data',
			      'X-CSRFToken': Cookies.get('csrftoken')}
		    }).then( (r) => {
		    	if (r.data == 'False') {
		    		this.message = 'This user does not have a stripe key'
		    		this.alert = true
		    	}else{
		    		this.addPromoter()
		    	}
			}).catch( (error) => {
			    this.$emit('error', 'Looks like something went wrong')
			    this.loading = false
			})
		}
	}
}
</script>