<template>
	<v-stepper v-model="stepper" vertical>
	  	<v-stepper-step :complete="stepper > 1" step="1" @click="setStepper(1)">What is the name of your experience?</v-stepper-step>
		  <v-stepper-content step="1">
		  		<eventName @done="setName" :editName="(event!=null) ? event.name : null"></eventName>
		  </v-stepper-content>
		  <v-stepper-step :complete="stepper > 2" step="2" @click="setStepper(2)">Describe your experience to us...</v-stepper-step>
		  <v-stepper-content step="2">
		  		<eventDescription @done="setDescription" :editDescription="(event!=null) ? event.description : null"></eventDescription>
			  	<div>
			  		<v-btn icon @click="stepper--">
			  			<v-icon>mdi-reload</v-icon>
			  		</v-btn>
			  	</div>
		  </v-stepper-content> 
		    <v-stepper-step :complete="stepper > 3" step="3" @click="setStepper(3)">Who do you want to see this experience?</v-stepper-step>
		    <v-stepper-content step="3">
		    		<eventPrivacy @done="setPrivacy"></eventPrivacy>
		    		<div>
		  	  		<v-btn icon @click="stepper--">
		  	  			<v-icon>mdi-reload</v-icon>
		  	  		</v-btn>
		  	  	</div>
		    </v-stepper-content>
		  <v-stepper-step :complete="stepper > 4" step="4" @click="setStepper(4)">Where will your experience be located?</v-stepper-step>
		  <v-stepper-content step="4">
		  		<gMapsAutocomplete @done="setLocation" :editLocation="(event!=null) ? jsonParse(event.location) : null"></gMapsAutocomplete>
			  	<div>
			  		<v-btn icon @click="stepper--">
			  			<v-icon>mdi-reload</v-icon>
			  		</v-btn>
			  	</div>
		  </v-stepper-content>
		  <v-stepper-step :complete="stepper > 5" step="5" @click="setStepper(5)">What date is your experience going to start?</v-stepper-step>
		  <v-stepper-content step="5">
		  		<v-date-picker v-model="startDate" class="elevation-0" full-width></v-date-picker>
		  		<v-btn v-if="startDate" block color="primary" class="mx-0 white--text" @click="stepper = 6">Continue</v-btn>
			  	<div>
			  		<v-btn icon @click="stepper--">
			  			<v-icon>mdi-reload</v-icon>
			  		</v-btn>
			  	</div>
		  </v-stepper-content>
		  <v-stepper-step :complete="stepper > 6" step="6" @click="setStepper(6)">What time is your experience going to start?</v-stepper-step>
		  <v-stepper-content step="6">
		  		<v-time-picker v-model="startTime" class="elevation-0" full-width></v-time-picker>
		  		<v-btn v-if="startTime" block color="primary" class="mx-0 white--text" @click="stepper = 7">Continue</v-btn>
			  	<div>
			  		<v-btn icon @click="stepper--">
			  			<v-icon>mdi-reload</v-icon>
			  		</v-btn>
			  	</div>
		  </v-stepper-content>
		  <v-stepper-step :complete="stepper > 7" step="7" @click="setStepper(7)">What date is your experience going to end?</v-stepper-step>
		  <v-stepper-content step="7">
		  		<v-date-picker  v-model="endDate" class="elevation-0" full-width></v-date-picker>
		  		<v-btn v-if="endDate" block color="primary" class="mx-0 white--text" @click="stepper = 8">Continue</v-btn>
			  	<div>
			  		<v-btn icon @click="stepper--">
			  			<v-icon>mdi-reload</v-icon>
			  		</v-btn>
			  	</div>
		  </v-stepper-content>
		  <v-stepper-step :complete="stepper > 8" step="8" @click="setStepper(8)">What time is your experience going to end?</v-stepper-step>
		  <v-stepper-content step="8">
		  		<v-time-picker v-model="endTime" full-width class="elevation-0"></v-time-picker>
		  		<v-btn v-if="endTime" block color="primary" class="mx-0 white--text" @click="stepper = 9">Continue</v-btn>
			  	<div>
			  		<v-btn icon @click="stepper--">
			  			<v-icon>mdi-reload</v-icon>
			  		</v-btn>
			  	</div>
		  </v-stepper-content>
		  <v-stepper-step :complete="stepper > 9" step="9" @click="setStepper(9)">What tags would you give to your experience?</v-stepper-step>
		  <v-stepper-content step="9">
		  		<eventTags @done="addEventTags" :editTags="(event!=null) ? jsonParse(event.tags) : null"></eventTags>
			  	<div>
			  		<v-btn icon @click="stepper--">
			  			<v-icon>mdi-reload</v-icon>
			  		</v-btn>
			  	</div>
		  </v-stepper-content>
		  <v-stepper-step :complete="stepper > 10" step="10" @click="setStepper(10)">Add Products to your experience</v-stepper-step>
		  <v-stepper-content step="10">
		  		<productDialog @done="addEventProducts" :editProducts="(event!=null) ? jsonParse(event.products) : null"></productDialog>
			  	<div>
			  		<v-btn icon @click="stepper--">
			  			<v-icon>mdi-reload</v-icon>
			  		</v-btn>
			  	</div>
		  </v-stepper-content>
		    <v-stepper-step :complete="stepper > 11" step="11" @click="setStepper(11)">Add promoters to your experience</v-stepper-step>
		    <v-stepper-content step="11">
		    		<promoters @done="setPromoters" :editPromoters="(event!=null && !_.isEmpty(event.promoters)) ? jsonParse(event.promoters) : null"></promoters>
		  	  	<div>
		  	  		<v-btn icon @click="stepper--">
		  	  			<v-icon>mdi-reload</v-icon>
		  	  		</v-btn>
		  	  	</div>
		    </v-stepper-content>
		  <v-stepper-step :complete="stepper > 12" step="12" @click="setStepper(12)">Upload Your experience Poster</v-stepper-step>
		  <v-stepper-content step="12">
		  		<fileUploader @update:fileList="updateImages" :limit="1"></fileUploader>
		  		<v-img
		  		  v-if="event!=null"
		  		  height="300"
		  		  style="background-size: contain;"
		  		  :src="'https://s3-us-west-1.amazonaws.com/xp.ciaobenga.com/media/public/'+images.filename"
		  		></v-img>
		  		<v-btn v-if="event!=null" block color="primary" class="mx-0 white--text" @click="postForm">finish</v-btn>
			  	<div>
			  		<v-btn icon @click="stepper--">
			  			<v-icon>mdi-reload</v-icon>
			  		</v-btn>
			  	</div>
		  </v-stepper-content>

		  <v-snackbar :timeout="5000" bottom right v-model="alert" color="black" class="z-10">
		        {{message}}
		     <v-btn flat color="white" @click.native="alert = false">Close</v-btn>
		  </v-snackbar>
		  <v-overlay
		    :absolute="absolute"
		    :value="overlay"
		    :opacity="0.95"
		  >
		  	<v-container fluid fill-height>
		  		<v-row class="center-items">
		  			<v-col md="6">
		  				<div class="text-xs-center" style="margin-bottom: 20px;">
		  					<img src="/static/black.png" style="height: 100px;">
		  				</div>
		  				<p>Connect your stripe account in order to start verifying your transactions with XP</p>
		  				<a target="blank" :href="'https://connect.stripe.com/express/oauth/authorize?client_id=ca_Gtx5ZdPucwIlQRURQE4Z1ZVeuhNsC2io&state={STATE_VALUE}&suggested_capabilities[]=transfers&stripe_user[email]='+user.email">
		  					<img style="height: 40px;" src="/static/stripeConnect.png">
		  				</a>
		  				<div >
	  					    <router-link :to="{ name: 'home'}">
	  						    <v-btn icon dark>
	  						      <v-icon>mdi-home-outline</v-icon>
	  						    </v-btn>
	  						</router-link>
		  				</div>

		  			</v-col> 
		  		</v-row>
		  	</v-container>
		  </v-overlay>
	</v-stepper>
</template>
<script>
import { v4 as uuidv4 } from 'uuid'
import eventName from './name'
import eventDescription from './description'
import gMapsAutocomplete from './gMapsAutocomplete'
import eventTags from './tags'
import productDialog from './productDialog'
import upload from './upload'
import eventPrivacy from './privacy'
import promoters from './promoters'
import axios from 'axios'
import Cookies from 'js-cookie'

export default {
	data: () => {
		return {
			stepper: 1,
			name: null,
			description: null,
			location: null,
			eventProducts: null,
			eventPromoters: null,
			promotersIndex: 0,
			startDate: null,
			endDate: null,
			startTime: null,
			endTime: null,
			tags: null,
			event: null,
			loading: false,
			privacy: false,
			alert: false,
			message: null,
			overlay: false,
			uuid: null,
			images: [],
			imageIndex: 0,
		}
	},

	components: {
		eventName,
		eventDescription,
		gMapsAutocomplete,
		eventTags, 
		productDialog,
		upload,
		eventPrivacy,
		promoters
	},

	computed: {
	  user(){
	    return this.$store.state.user
	  }
	},

	mounted(){
		this.$store.dispatch('getUser', {})
	},

	watch: {
		user(val){
			if (val == 'False') {
				this.$router.push({name:'authorize'})
			}else{
				this.getProfile()
			}
		},
	},

	methods: {
		setStepper(e){
			if (this.event!=null) {
				this.stepper = e
			}
		},
		getEvent(){
			var f = new FormData()

			f.append('uuid', this.$route.params.uuid)

		    axios.post('viewevent', f, { headers: {
		          'X-CSRFToken': Cookies.get('csrftoken')} 
		        }).then( (r) => {
		        	this.event = r.data
		        	this.name = this.event.name
		        	this.description = this.event.description
		        	this.location = this.jsonParse(this.event.location)
		        	this.eventProducts = this.jsonParse(this.event.products)
		        	this.eventPromoters = this.jsonParse(this.event.promoters)
		        	this.tags = this.jsonParse(this.event.tags)
		        	this.images = this.jsonParse(this.event.images)
		        	this.startDate = this.event.startDate   
		        	this.endDate =  this.event.endDate 
		        	this.startTime =  this.event.startTime
		        	this.endTime = this.event.endTime
		      }, () => {
		        console.log('oops')
		     })
		},
		updateImages(e){
		  this.images = e[0]
		  this.imageIndex = e[1]
		  this.uploadImg()
		},
		uploadImg(){
		  this.load = true
		  var fd = new FormData()
		  var blob = this.images[this.imageIndex].src
		  var uuid = uuidv4()

		  var str = blob.name.split('.')
		  var fileName = uuid + '.' + str[1]

		  var newFile = new File([blob], fileName, {type: blob.type})

		  fd.append('file', newFile )
		  fd.append('filename', fileName)

		  axios.post('api/files/', fd, { headers: {
		        'Content-Type': 'multipart/form-data',
		        'X-CSRFToken': Cookies.get('csrftoken')} 
		      }).then( (res) => {
		        this.load = false
		        this.images = res.data
		        if (this.$route.name != 'editEvent') {
		        	this.postForm()
		        }
		    }, () => {
		      console.log('oops')
		  })
		},
		setName(e){
			this.name = e
			this.stepper = 2
		},
		setDescription(e){
			this.description = e
			this.stepper = 3
		},
		setPrivacy(e){
			this.privacy = e
			this.stepper = 4
		},
		setLocation(e){
			this.location = e
			this.stepper = 5
		},
		addEventTags(e){
			this.tags = e
			this.stepper = 10
		},
		addEventProducts(e){
			this.eventProducts = e
			if (this.eventProducts.length != 0) {
				this.stepper = 11
			}else{
				this.message = 'Add a product to your experience to continue'
				this.alert = true
			}
		},
		setPromoters(e){
			this.eventPromoters = e
			this.stepper = 12
		},
		setImages(e){
			this.images = e 
			this.postForm()
		},
		getProfile(){ 
			var f = new FormData()
			f.append('username', this.user.username )
			axios.post('getProfile', f, {headers: {
				'Content-Type': 'multipart/form-data',
			    'X-CSRFToken': Cookies.get('csrftoken')}
		    }).then( (r) => {
		    	if (r.data == 'False') {
		    		this.$router.push({name:'createProfile'})
		    	}else{
		    		this.getStripeConnectKey()
		    	}
			}).catch( (error) => {
			    this.$emit('error', 'Looks like something went wrong')
			    this.loading = false
			})
		},
		getStripeConnectKey(){
			axios.get('getStripeKey', {headers: {
			      'X-CSRFToken': Cookies.get('csrftoken')}
		    }).then( (r) => {
		    	if (r.data == 'none') {
		    		this.overlay = true
		    	}
		    	if (this.$route.name == 'editEvent') {
		    		this.getEvent()
		    	}
			}).catch( (error) => {
			    this.$emit('error', 'Looks like something went wrong')
			    this.loading = false
			})
		},

		sendPromoterLink(){
			var f = new FormData()
			f.append('email', this.eventPromoters[this.promotersIndex].email)
			f.append('username', this.eventPromoters[this.promotersIndex].username)
			f.append('commission', this.eventPromoters[this.promotersIndex].commission)
			f.append('link', `https://expxp.com/#/event/${this.uuid}/${this.eventPromoters[this.promotersIndex].username}`)
			axios.post('sendPromoterLink', f, {headers: {
				'Content-Type': 'multipart/form-data',
			    'X-CSRFToken': Cookies.get('csrftoken')}
		    }).then( (r) => {
		    	if (this.promotersIndex+1 < this.eventPromoters.length ) {
		    	  this.promotersIndex++ 	            
		    	  this.sendPromoterLink()
		    	}else{
		    	 this.$router.push({ path: `/event/${this.uuid}`})     
		    	}
			}).catch( (error) => {
			    this.$emit('error', 'Looks like something went wrong')
			    this.loading = false
			})
		},

		jsonParse(e){
		  return JSON.parse(e)
		},

		postForm(){
			var form = new FormData()
			this.uuid = (this.$route.name == 'editEvent') ? this.event.uuid : uuidv4()
			form.append('uuid', this.uuid )
			form.append('name', this.name)
			form.append('description', this.description)
			form.append('startDate', this.startDate)
			form.append('startTime', this.startTime) 
			form.append('endDate', this.endDate)
			form.append('endTime', this.endTime)
			form.append('tags', JSON.stringify(this.tags))
			form.append('location', JSON.stringify(this.location))
			form.append('products', JSON.stringify(this.eventProducts))
			form.append('promoters', JSON.stringify(this.eventPromoters))
			form.append('images', JSON.stringify(this.images))
			form.append('privacy', this.privacy)

			axios.post((this.event == null ) ? 'events' : 'editEvent', form, {headers: {
			      'Content-Type': 'multipart/form-data',
			      'X-CSRFToken': Cookies.get('csrftoken')}
		    }).then( (r) => {
		    	if (!_.isEmpty(this.promoters)) {
		    		this.sendPromoterLink()
		    	}else{
		    		this.$router.push({ path: `/event/${this.uuid}`})
		    	}
			}).catch( (error) => {
			    this.$emit('error', 'Looks like something went wrong')
			    this.loading = false
			})
		}
	}
}
</script>
<style>
	.v-stepper__content {
		display:!important;
	}
	body {
		overflow: scroll;
	}
	h2 {
		font-family: Quicksand!important;
		text-transform: uppercase!important;
	}
	.v-toolbar__title, .v-stepper__label {
		font-family: Quicksand!important;
	}
	input {
		width: 100%!important;
		height: 30px!important;
	}
	::-webkit-scrollbar {
	  -webkit-appearance: none;
	  width: 7px;
	}

	::-webkit-scrollbar-thumb {
	  border-radius: 4px;
	  background-color: rgba(0, 0, 0, .5);
	  box-shadow: 0 0 1px rgba(255, 255, 255, .5);
	}
	input:focus{
	    outline: none;
	}
	.v-messages__message {
		line-height: 22px!important;
	}
	.v-image__image--cover {
	    background-size: contain!important;
	}
</style>