<template>
  <v-flex xs12>
  	<v-combobox
        v-model="select"
        label="Add tags to your experience"
        multiple
        chips
      >
        <template v-slot:selection="data">
          <v-chip
            :key="JSON.stringify(data.item)"
            v-bind="data.attrs"
            :input-value="data.selected"
            :disabled="data.disabled"
            @click:close="data.parent.selectItem(data.item)"
          >
            <v-avatar
              class="accent white--text"
              left
              v-text="data.item.slice(0, 1).toUpperCase()"
            ></v-avatar>
            {{ data.item }}
          </v-chip>
        </template> 
    </v-combobox>
    <v-btn color="primary" block v-if="select" class="mx-0 white--text"  @click="$emit('done', select)">Continue</v-btn>
  </v-flex>
</template>
<script>
	export default {
		data: () => {
			return {
				select: null,
			}
		},
    props: ['editTags'],
    watch: {
      editTags(val){
        this.select = val
      }
    }
	}
</script>