<template>
	<v-flex xs12>
		<v-file-input
		   v-model="Files"
		   color="deep-purple accent-4"
		   counter
		   label="Upload your experience posters"
		   multiple
		   accept="image/png, image/jpeg, image/jpg, image/gif"
		   solo
		   :show-size="1000"
		 >
		   <template v-slot:selection="{ text }">
		     <v-chip
		       color="deep-purple accent-4"
		       dark
		       label
		       small
		     >
		       {{ text }}
		     </v-chip>

		   </template>
		 </v-file-input>
	  	<div class="text-xs-center w-mx"  v-if="!load && Files!=null">
          <v-btn color="black" block class="mx-0 white--text" @click="upload">Continue</v-btn>
    	</div>
        <v-progress-circular
         indeterminate
         color="primary"
         v-if="load"
       	></v-progress-circular>
	</v-flex>
</template>
<script>
import { v4 as uuidv4 } from 'uuid'
import axios from 'axios'
import Cookies from 'js-cookie'

export default {
	data: () => {
		return {
			Files: null,
			FilesIndex: 0,
			FilesUUID: null,
			load: false,
			images: [],
		}
	},
	methods: {
		upload(){
			this.load = true 

		  	var fd = new FormData()
		  	var blob = this.Files[this.FilesIndex]
		  	var uuid = uuidv4()

		  	var str = this.Files[this.FilesIndex].name.split('.')
		  	var fileName = uuid + '-' + this.FilesIndex + '.' + str[1]


		  	var newFile = new File([blob], fileName, {type: blob.type})

		  	fd.append('file', newFile )
		  	fd.append('filename', fileName)

		    axios.post('api/files/', fd, { headers: {
		          'Content-Type': 'multipart/form-data',
		          'X-CSRFToken': Cookies.get('csrftoken')} 
		        }).then( (res) => {
		          this.images.push(res.data)
		          if (this.FilesIndex+1 < this.Files.length ) {
		            this.FilesIndex++ 	            
		            this.upload()
		          }else{
		           this.$emit('done', this.images)          
		          }
		      }, () => {
		        console.log('oops')
		      })
			}
	}
}
</script>