<template>
	<v-app style="background: white!important;" >
	  <v-container fluid style="background: url(/static/u.gif) 0% -100%;background-repeat: no-repeat;
    background-position-x: center;">
	  	<v-row justify=center align=center  style="margin-top: 110px;">
	  		<v-col cols=12 md=3 sm=4>
	  			<div class="text-xs-center mb-5">
	  				<img src="/static/black.png" style="height: 76px;">
	  			</div>
	  			<signUp :checkout="true" v-if="!account" @error="alertEmit" @done="accountCreated"></signUp>
	  			<signIn :checkout="true" @done="prevRoute" @error="alertEmit" v-else></signIn>
	  			<div class="text-xs-center">
	  			  <a  @click="(account) ? account = false : account = true">
	  			    <span type="text" class="mt-3 blue--text font-weight-black" v-if="!account">Already have an account?</span>
	  			    <span type="text" class="mt-3 blue--text font-weight-black" v-else>Dont have an account?</span>
	  			  </a>
	  			</div>
	  		</v-col>
	  	</v-row>
	  	  <v-row justify=center>
	  		  <v-col cols=12 md=4 sm=4>
	  		  	<p class="font-weight-light text-left" style="font-size: 0.7rem;">About Help Press API Jobs Privacy Terms Locations Top Accounts Hashtags Language</p>
	  		  	<p class="font-weight-bold" style="font-size: 0.7rem;">All rights reserved © {{ new Date().getFullYear() }}</p>
	  		  </v-col>
	  	  </v-row>
	  </v-container>

	  <v-snackbar :timeout="5000" bottom right v-model="alert" color="black" class="z-10">
	        <p style="font-size: medium!important;margin-top:14px!important">{{message}}</p>
	     <v-btn icon dark x-small @click.native="alert = false">
	      <v-icon>mdi-close</v-icon>
	     </v-btn> 
	  </v-snackbar>
	</v-app>
</template>
<script>
import signIn from './components/SignIn'
import signUp from './components/SignUp'
import sAuth from './components/SAuth'

export default { 
	data: () => {
		return {
			alert: false,
			account: false,
			message: '',
			nUser: false

		}
	},
	components: {
		signIn,
		signUp,
		sAuth
	},

	mounted(){
		this.$store.dispatch('getUser', {})
	},

	methods: {
		alertEmit(e){
		  this.message = e
		  this.alert = true
		},
		redirectToDashboard(){
			location.replace('/partner/dashboard')
		},
		redirectToOnboarding(){
			location.replace('/partner/onboarding')
		},
		accountCreated(){
			this.account = true
			this.message = "Successfully created account, login to proceed"
			this.nUser = true
			this.alert = true
		},
		prevRoute(e){
			this.$store.commit('SET_AUTH', true)
			this.$store.commit('SET_USER', e)
			if (this.nUser) {
				this.$router.push({ name: 'settings'})
			}else{
				this.$router.go(-1)
			}
		}
	}
}
</script>
<style>
	/*style="background: url(/static/slider-9.gif) no-repeat center;"*/
</style>