<template>
  <v-card
    class="mx-auto text-xs-center"
    color="black"
    dark
    style="border-radius: 0px;"
  >
    <v-card-text>
      <v-sheet color="rgba(0, 0, 0, .12)">
        <v-sparkline
          :value="value"
          :gradient="['#00c6ff', '#F0F', '#FF0']"
          autoDraw
          color="rgba(255, 255, 255, .7)"
          height="100"
          padding="24"
          stroke-linecap="round"
          smooth
        >
<!--           <template v-slot:label="item">
            {{ item.value }}
          </template> -->
        </v-sparkline>
      </v-sheet>
    </v-card-text>

    <v-card-text>
      <h2 class="white--text">Weekly Event Sales</h2>
    </v-card-text>
  </v-card>
</template>
<script>
  export default {
    data: () => ({
      // labels: [
      //   'M',
      //   'T',
      //   'W',
      //   'T',
      //   'F',
      //   'S',
      //   'S'
      // ],
      value: [
        200,
        675,
        410,
        390,
        310,
        460,
        250,
        675,
        410,
        390,
        310,
        460,
        250,
      ],
    })
  }
</script>