<template>
	<v-app>
	    <v-toolbar
	      flat
	      extended
	    >
	    <router-link :to="{ name: 'search'}">
		    <v-btn icon>
		      <v-icon>mdi-magnify</v-icon>
		    </v-btn>
		</router-link>
	    <v-spacer></v-spacer>
	    <router-link :to="{ name: 'home'}">
		    <v-btn icon>
		    	<img src="/static/black.png" style="height: 40px;"></img>
		    </v-btn>
		</router-link>
	    <v-spacer></v-spacer>
	    <router-link :to="{ name: 'profile'}">
		    <v-btn icon >
		    	<v-icon>mdi-account-outline</v-icon>
		    </v-btn>
		</router-link>
	    </v-toolbar>
	      <v-container fluid fill-height>
	      	<v-row class="center-items">
	      		<v-col md="6">
	      			<div class="text-xs-center" style="margin-bottom: 20px;">
	      				<img src="/static/black.png" style="height: 100px;">
	      			</div>
	      			<p>View your stripe dashboard to view your transactions on XP</p>
	      			<a target="blank" :href="url">
	      				<img style="height: 100px;" src="/static/stripeDash.png">
	      			</a>
	      		</v-col>
	      	</v-row>
	      </v-container>
	    </v-card>
	  </v-card>
	</v-app>
</template>
<script>
import axios from 'axios'
import Cookies from 'js-cookie'	
import EventSales from './eventSales'
import ExpectedPayout from './expectedPayout'
import ProductSales from './productSales'
import WeeklySales from './weeklySales'

export default {
	data: () => {
		return {
			url: null,
		}
	},
	components: {
		EventSales,
		ExpectedPayout,
		ProductSales,
		WeeklySales,
	},

	mounted(){
		this.$store.dispatch('getUser', {})
	},

	computed: {
		user(){
			return this.$store.state.user
		},
	},

	watch: {
		user(val){
			if (val == 'False') {
				this.$router.push({name:'authorize'})
			}else{
				this.getProfile()
			}
		}
	},
	methods: {
		getProfile(){ 
			var f = new FormData()
			f.append('username', this.user.username )
			axios.post('getProfile', f, {headers: {
			    'Content-Type': 'multipart/form-data',
			    'X-CSRFToken': Cookies.get('csrftoken')}
			  }).then( (r) => { 
			  	if (r.data == 'False') {
			  		this.$router.push({name:'createProfile'})
			  	}else{
			  		this.getStripeDashLink()
			  	}
			}).catch( (error) => {
			    this.$emit('error', 'Looks like something went wrong')
			    this.loading = false
			})
		},
		getStripeDashLink(){
			axios.get('getStripeDashLink', {headers: {
			      'X-CSRFToken': Cookies.get('csrftoken')}
		    }).then( (r) => {
		    	this.url = r.data.url
			}).catch( (error) => {
			    this.$emit('error', 'Looks like something went wrong')
			    this.loading = false
			})
		}
	}
}
</script>
