<template>
  <v-card
    class="mx-auto text-xs-center"
    color="black"
    dark
    style="border-radius: 0px;"
  >
    <v-card-text>
      <v-sheet color="rgba(0, 0, 0, .12)">
        <v-sparkline
          :value="value"
          autoDraw
          color="rgba(255, 255, 255, .7)"
          height="100"
          padding="24"
          stroke-linecap="round"
          smooth
        >
          <template v-slot:label="item">
            ${{ item.value }}
          </template>
        </v-sparkline>
      </v-sheet>
    </v-card-text>

    <v-card-text>
      <h2 class="white--text">Daily Event Sales</h2>
    </v-card-text>

    <v-divider></v-divider>

  </v-card>
</template>
<script>
  export default {
    data: () => ({
      value: [
        423,
        446,
        675,
        510,
        590,
        610,
        760
      ]
    })
  }
</script>