<template>
	<v-col cols=12 sm=6 md=4>
		<v-list two-line nav class="mt-12" v-if="!_.isEmpty(comments)">
			<v-list-item
			  v-for="(comment, i) in comments" :key="i">
			<v-list-item-avatar style="width: auto;">
			  <img
			    style="height:40px;width: 40px;"
			    :src="`https://s3-us-west-1.amazonaws.com/xp.ciaobenga.com/media/public/${ jsonParse(comment.avatar).filename}`"
			    alt="Avatar"
			  >
			</v-list-item-avatar>

			<v-list-item-content >
			    <v-list-item-subtitle style="text-align: left!important;margin-left: 10px;">
			    	<span >{{ comment.username }}</span> &mdash; <span class='text--primary'>{{ comment.comment.content }}</span>
			    </v-list-item-subtitle>
			</v-list-item-content>
			</v-list-item>
		</v-list>
		<div v-else class="mt-12">
			<v-icon >mdi-comment-outline</v-icon>
		  	<h1 class="my-2 grey--text" >Be the first to comment on this post</h1>
		</div>
		<v-text-field
		  class="c-bar"
		  v-model="comment"
		  :append-outer-icon="'mdi-send'"
		  solo
		  @click:append-outer="commentPost"
		  rounded
		  clear-icon="mdi-close-circle"
		  clearable
		  label="Comment"
		  type="text"
		></v-text-field>
	</v-col>
</template>
<script>
import axios from 'axios'
import Cookies from 'js-cookie'
import { v4 as uuidv4 } from 'uuid'

export default {
	data: () => {
		return {
			comments: [],
			comment: null,
			reply: null
		}
	},
	props: ['post'],
	mounted(){
		this.getPostComments()
	},
	methods: {
		jsonParse(e){
		  return JSON.parse(e)
		},
		getPostComments(){
			var f = new FormData()
			f.append('uuid', this.post.post.uuid)

		    axios.post('/getPostComments', f, { headers: {
		          'X-CSRFToken': Cookies.get('csrftoken')} 
		        }).then( (r) => {
		        	this.comments = r.data
		      }, () => {
		        console.log('oops')
		    })
		},
		commentPost(){
			if (this.comment != null) {
				var f = new FormData()
				f.append('comment', this.comment)
				f.append('puid', this.post.post.uuid)
				f.append('uuid', uuidv4())
			    axios.post('/commentPost', f, { headers: {
			          'X-CSRFToken': Cookies.get('csrftoken')} 
			        }).then( (r) => {
			        	this.getPostComments()
			      }, () => {
			        console.log('oops')
			    })
			}
		},
		replyComment(x){
			var f = new FormData()
			f.append('cuid', x)
			f.append('uuid', uuidv4())

		    axios.post('/replyComment', f, { headers: {
		          'X-CSRFToken': Cookies.get('csrftoken')} 
		        }).then( (r) => {
		        	this.getPostComments()
		      }, () => {
		        console.log('oops')
		    })
		}
	}
}	
</script>