<template>
	<div>
	    <v-app-bar
	      flat
	      height=46
	      fixed
	      style="box-shadow:rgba(255, 255, 255, 0.26) 0px 1px 20px 1px;"
	      color="black"
	    >
	    <v-btn icon dark small @click="$router.go(-1)"  v-if="$route.name == 'post'">
	      <v-icon>mdi-chevron-left</v-icon>
	    </v-btn>
	        <router-link :to="{ name: 'search'}" v-else>
	    	    <v-btn icon dark small>
	    	    	<v-icon>mdi-magnify</v-icon>
	    	    </v-btn>
	    	</router-link>
	     <v-spacer></v-spacer>
	     <router-link :to="{ name: 'home'}" >
		     <v-btn icon >
		     	<img src="/static/apple-icon.png" style="height: 30px;" elevation="1"></img>
		     </v-btn>
	 	 </router-link>
	     <v-spacer></v-spacer>

 	    <v-btn icon dark small>
 	      <v-icon>mdi-camera-outline</v-icon>
 	      <input class="input-upload" style="z-index: 9999;" ref="inputsx" accept="image/*" @change="multipleUploadx()" type="file" name="" value="">
 	    </v-btn>
	    </v-app-bar>

	        <v-dialog
	          v-model="dialog"
	          fullscreen
	          hide-overlay
	          transition="dialog-bottom-transition"
	        >
	          <v-app-bar
	            dark
	            fixed
	            style="z-index: 99999;"
	            color="primary"
	            height=46
	          >
	          <v-btn icon dark small>
	            <v-icon>mdi-plus</v-icon>
	            <input class="input-upload" style="z-index: 9999;" ref="inputsx_1" accept="image/*" @change="multipleUploadx()" type="file" name="" value="">
	          </v-btn>
	            <v-spacer></v-spacer>
	            <v-toolbar-title style="font-size: 0.9rem;">New Photo Post</v-toolbar-title>
	            <v-spacer></v-spacer>
	           <v-btn icon dark small @click="upload" v-if="!load">
	             <v-icon>mdi-chevron-right</v-icon>
	           </v-btn>
	           <v-progress-circular
	             indeterminate
	             size="28"
	             color="white"
	             v-else
	           ></v-progress-circular>
	          </v-app-bar>
	          <v-row wrap justify=center align=center style="margin: 0px;">
	          	<v-col cols=12  md="7" v-if="!load" style="margin-top: 60px;">
          		    <div class="con-multiple-upload"> 
          		      <ul ref="ulmultiple" class="con-multiples-imgs">
          		        <li v-for="file,index in arrayFiles" class="con-imgs" style="width: 250px;height: 250px;">
          		          <div @click="deleteItemImg(index)" class="x-img">
          		            <v-icon>mdi-close</v-icon>
          		          </div> 
          		          <img @click="view=true,urlview=file.src" :ref="'vs'+index" :src="file.src" alt="">
          		        </li>	          		        
          		      </ul>
          			</div>
	          	</v-col>
	          	<v-col cols="7" v-if="load" style="margin-top: 60px;">
	          	   <v-progress-linear
	          	     color="primary"
	          	     indeterminate
	          	     rounded
	          	     height="6"
	          	   ></v-progress-linear>
	          	 </v-col>
	          	 <v-col cols="12" md="6" class=mt-5>
	          	 	<postForm :loaded="loaded" :uploads="uploads"></postForm>
	          	 </v-col>
	          </v-row>

	        </v-dialog>
	</div>

</template>
<script>
import axios from 'axios'
import Cookies from 'js-cookie'
import { v4 as uuidv4 } from 'uuid'
import postForm from './PostForm'

export default {
	data: () => ({
	  absolute: true,
	  drawer: false,
	  settingsDrawer: false,
	  navOverlay: false,
	  dialog: false,
	  opacity: 1,
	  overlay: false,
	  zIndex: 99999,
	  images:[],
	  filename: '',
	  media: '',
	  files: [],
	  url:'',
	  urlview:'',
	  view:false,
	  arrayFiles: [],
	  fileList: [],
	  imageIndex: 0,
	  tab: null,
	  load: false,
	  uploads: [],
	  loaded: false
	}),
	mounted() {
	  this.$store.dispatch('getUser', {})
	},
	components: {
		postForm
	},
	watch: {
		images(val){
			if (val == 0) {
				this.dialog = false
			}
		}
	},
	computed: { 
		user(){
			return this.$store.state.user
		}
	},

	methods: {
		routeTo(e){
			if (this.user == 'False') {
				this.$router.push({name:'authorize'})
			}else{
				this.$router.push({name: e})
			}
		},
		deleteItemImg(index){
		  let filesx = JSON.parse(JSON.stringify(this.fileList))
		  filesx.splice(index, 1);
		  this.arrayFiles.splice(index, 1);
		  this.images.splice(index, 1);
		  this.$emit('update:fileList', [this.images, this.imageIndex])	
		  // if (this.images.length == 0) {
		  // 	this.dialog = false
		  // }
		},
		multipleUploadx(e){
		  var preview = this.$refs.ulmultiple
		  if (this.dialog == true) {
		  	var file = this.$refs.inputsx_1.files[0]
		  }else{
		  	var file = this.$refs.inputsx.files[0]
		  }
		  
		  var reader  = new FileReader();
		  var filesx = JSON.parse(JSON.stringify(this.fileList))
		  reader.onloadend =  ()=> {
		    this.arrayFiles.push({src:reader.result})
		    this.images.push({src:file})
		    filesx.push({file:file})
		    this.$emit('update:fileList', [this.images, this.imageIndex])
		  }

		  if (file) {
		    reader.readAsDataURL(file);
		    this.dialog = true
		  } else {
		    // preview.src = this.url;
		  }

		  // this.$refs.inputsx.value = ''
		  // this.$refs.inputsx_1.value = ''
		  
		},

		upload(){
			this.load = true 

		  	var fd = new FormData()
		  	var blob = this.images[this.imageIndex].src
		  	var uuid = uuidv4()

		  	var str = blob.type.split('/')
		  	var fileName = uuid + '-' + this.imageIndex + '.' + str[1]


		  	var newFile = new File([blob], fileName, {type: blob.type})

		  	fd.append('file', newFile )
		  	fd.append('filename', fileName)

		    axios.post('api/files/', fd, { headers: {
		          'Content-Type': 'multipart/form-data',
		          'X-CSRFToken': Cookies.get('csrftoken')} 
		        }).then( (res) => {
		          this.uploads.push(res.data)
		          if (this.imageIndex+1 < this.images.length ) {
		            this.imageIndex++ 	            
		            this.upload()
		          }else{
		           this.loaded = true
		           this.load = false  
		          }
		      }, () => {
		        console.log('oops')
		      })
		}
		
	}
}
</script>