<template>
	<v-list dark nav style="background: black;position: sticky;top: 0">
		<v-card
		  style="margin-top: 46px;background: black;"
		  class="mx-auto mb-3"
		  outlined
		>
		  <v-list-item two-line>
		  	<v-list-item-avatar
		  	  size="80"
		  	  color=""
		  	>
		  		<img
		  		  :src="`https://s3-us-west-1.amazonaws.com/xp.ciaobenga.com/media/public/${ jsonParse(account.avatar).filename}`"
		  		  alt="Avatar"
		  		>
		  	</v-list-item-avatar>
		    <v-list-item-content>
		      <v-list-item-title class=" mb-1 text-left staatliches">{{ user.username }}</v-list-item-title>
		      <v-list-item-subtitle class="text-left">{{ account.bio }}</v-list-item-subtitle>
		    </v-list-item-content>


		  </v-list-item>
		</v-card>
		<p style="text-align: left;font-size: 1rem;">Suggested accounts to follow</p>
		<v-list-item
		  v-for="(profile, i) in profiles"
		  :key="'P'+i"

		>
		<v-list-item-avatar style="width: auto;">
		  <img
		    style="height:30px;width: 30px;"
		    :src="`https://s3-us-west-1.amazonaws.com/xp.ciaobenga.com/media/public/${ jsonParse(profile.profile.avatar).filename}`"
		    alt="Avatar"
		  >
		</v-list-item-avatar>
		
		<v-list-item-content >
		    <v-list-item-title style="text-align: left!important;font-size: small;" v-text="profile.username" ></v-list-item-title>
		    <v-list-item-subtitle style="text-align: left!important;color: darkgrey;font-size: small;" v-text="profile.profile.XP+'XP'"></v-list-item-subtitle>
		</v-list-item-content>
		<v-list-item-action>
		  <a  :href="`/#/u/${profile.username}`" class="blue--text small font-weight-black" style="font-size: small;">View</a>
		</v-list-item-action>
		</v-list-item>
		<p class="font-weight-light white--text text-left" style="font-size: 0.7rem;">About Help Press API Jobs Privacy Terms Locations Top Accounts Hashtags Language</p>
		<p class="font-weight-bold" style="font-size: 0.7rem;">All rights reserved © {{ new Date().getFullYear() }}</p>
	</v-list>
</template>
<script>
export default {
	props: ['user','account','profiles'],
	methods: {
		jsonParse(e){
		  return JSON.parse(e)
		}
	}
}
</script>