<template>
	<v-card
	  max-width="560"
	  elevation="0"
	  style="background: black;"
	  dark
	  outlined
	  class="mx-auto "
	>
	  <v-list-item style="margin-left: -13px;">
	    <v-list-item-avatar >
	    	<img
	    	  :src="`https://s3-us-west-1.amazonaws.com/xp.ciaobenga.com/media/public/${ jsonParse(post.profile.avatar).filename}`"
	    	  alt="Avatar"
	    	>
	    </v-list-item-avatar>
	    <v-list-item-content>

	      <v-list-item-title class="text-left font-weight-black" >
	      	<a :href="`/#/u/${post.user.username}`" class="white--text" style="font-size: 0.9rem;line-height: 2!important;" >
	      		{{post.user.username}}
	      	</a>
	      	<span style="float: right;">
	      		<v-btn icon small>
	      		  <v-icon>mdi-dots-horizontal</v-icon>
	      		</v-btn>
	      	</span>
	      </v-list-item-title>

	    </v-list-item-content>
	  </v-list-item>
<!-- 	  <v-skeleton-loader
	    v-if="!loaded"
	    class="mx-auto"
	    max-width="560"
	    height="100%"
	    type="card"
	    dark
	  ></v-skeleton-loader> -->
	  <div v-click:290="probeClick" v-if="post.post.TTI != 'true' || postTipped">
	  	<div v-lazy-container="{ selector: 'img' }" v-if="post.post.group == 'single'">
	  	    <img style="width:100%;height: 100%;" data-loading="/static/load.gif" data-error="/static/offline.gif" :data-src="`https://s3-us-west-1.amazonaws.com/xp.ciaobenga.com/media/public/${ jsonParse(post.post.media)[0].filename}`" alt="">
	  	</div>
  		<v-carousel
  		   v-if="post.post.group == 'multipart'"
  		   
  		   style="height: 100%;"
  		   hide-delimiter-background
  		   show-arrows-on-hover
  		   align=center
  		 >
  		   <v-carousel-item
  		     v-for="media,index in jsonParse(post.post.media)" 
  		     :key="index"
  		     style="height: 100%;width: 100%;"
  		   >
  		   <div v-lazy-container="{ selector: 'img' }" >
  		     <img style="width:100%;height: 100%;" data-loading="/static/load.gif" data-error="/static/error.gif" :data-src="`https://s3-us-west-1.amazonaws.com/xp.ciaobenga.com/media/public/${ media.filename}`" alt="">
  		   </div>
  		   </v-carousel-item>
  		 </v-carousel>
	  	</div>
	  	<div v-if="!postTipped">
	  		<div v-if="post.post.TTI == 'true' || tip" >
	  		    <p class="mt-5">Tip to interact with this post</p>
	  		    <span class="subheading font-weight-light mr-1 white--text">$</span>
	  		    <span
	  		      class="display-3 font-weight-light white--text"
	  		      v-text="slider"
	  		    ></span>
	  		    <span class="subheading font-weight-light mr-1 white--text">.00</span>
	  		    <span class="subheading small--text font-weight-light mr-1 white--text">USD</span>
	  		    <p class="mt-3 small--text">Excluding App Fees</p>
	  		    <v-container>
	  		      <v-slider
	  		         dark
	  		         v-model="slider"
	  		         class="align-center mb-5 px-8"
	  		         :max="max"
	  		         :min="(!_.isEmpty(post.post.minTip)) ? post.post.minTip : min"
	  		         hide-details
	  		       >
	  		       </v-slider>
	  		      <v-btn block color="black" class="mx-0 white--text" @click="checkout">Continue</v-btn>
	  		    </v-container>
	  		</div>
	  	</div>


	  <v-card-text class="text-left pb-0" style="margin-left: -10px;" v-if="post.post.caption.length != 0">
	  	<p style="font-size: 0.9rem;"><span class="font-weight-black white--text" style="font-size: 0.9rem;">{{post.user.username}}</span>&nbsp;&nbsp;{{ post.post.caption }}</p>
	  </v-card-text>

	  <v-card-actions class="mt-0" v-if="post.post.TTI != 'true' || postTipped">
	    <v-btn icon x-small @click="unlike" v-if="postLiked">
	      <v-icon>mdi-heart</v-icon>
	    </v-btn>
	    <v-btn icon x-small @click="like" v-else>
	      <v-icon>mdi-heart-outline</v-icon>
	    </v-btn>
	    <v-btn icon x-small @click="unsave" v-if="postSaved">
	      <v-icon>mdi-bookmark</v-icon>
	    </v-btn>
	    <v-btn icon x-small @click="save" v-else>
	      <v-icon>mdi-bookmark-outline</v-icon>
	    </v-btn>
<!-- 	    &nbsp;
	    <span class="text-left font-weight-black" style="font-size: small;color: darkgrey;">{{post.post.XP}}XP</span>
	    &nbsp; -->
	    <v-btn icon x-small @click="dialog = true" v-if="post.post.repliable == 'true'">
	      <v-icon>mdi-comment-outline</v-icon>
	    </v-btn>
	    <v-spacer></v-spacer>

	    <v-menu offset-y>
	      <template v-slot:activator="{ on, attrs }">
	        <v-btn icon v-bind="attrs" v-on="on" x-small @click="share">
	          <v-icon>mdi-export-variant</v-icon>
	        </v-btn>
	      </template>
	      <v-list v-if="shareNav">
	        <v-list-item class=px-0>
	           <ShareNetwork network="facebook" :url="sharing.url" :title="sharing.title" :description="sharing.description" :quote="sharing.quote" :hashtags="sharing.hashtags":twitterUser="sharing.twitterUser"
	           >
	           	<facebook-icon class="white--text mx-3" size="2.5" style="height: 18px; width: 18px;"></facebook-icon>
	           </ShareNetwork>
	        </v-list-item>
	        <v-list-item class=px-0>
	           <ShareNetwork network="twitter" :url="sharing.url" :title="sharing.title" :description="sharing.description" :quote="sharing.quote" :hashtags="sharing.hashtags":twitterUser="sharing.twitterUser"
	           >
	          	<twitter-icon class="white--text mx-3" size="2.5" style="height: 18px; width: 18px;"></twitter-icon>
	           </ShareNetwork>
	        </v-list-item>
	        <v-list-item class=px-0>
	            <ShareNetwork network="reddit" :url="sharing.url" :title="sharing.title" :description="sharing.description" :quote="sharing.quote" :hashtags="sharing.hashtags":twitterUser="sharing.twitterUser"
	            >
	           	<reddit-icon class="white--text mx-3" size="2.5" style="height: 18px; width: 18px;"></reddit-icon>
	            </ShareNetwork>
	        </v-list-item>
	        <v-list-item class=px-0>
	             <ShareNetwork network="pinterest" :url="sharing.url" :title="sharing.title" :description="sharing.description" :quote="sharing.quote" :hashtags="sharing.hashtags":twitterUser="sharing.twitterUser"
	             >
	            	<pinterest-icon class="white--text mx-3" size="2.5" style="height: 18px; width: 18px;"></pinterest-icon>
	             </ShareNetwork>
	        </v-list-item>
	      </v-list>
	    </v-menu>
	    <v-btn icon x-small v-if="post.post.tipable == 'true' && !postTipped " @click="tip = true"> 
	      <v-icon>mdi-currency-usd</v-icon>
	    </v-btn>
	  </v-card-actions>
	  <v-dialog
	    v-model="dialog"
	    fullscreen
	    hide-overlay
	    transition="dialog-bottom-transition"
	  >
	    <v-app-bar
	      dark
	      fixed
	      style="z-index: 99999;"
	      color="primary"
	      height=46
	    >
	    <v-btn icon dark small @click="dialog = false">
	      <v-icon>mdi-chevron-left</v-icon>
	    </v-btn>
	      <v-spacer></v-spacer>
	      <v-toolbar-title style="font-size: 0.9rem;">Comments</v-toolbar-title>
	      <v-spacer></v-spacer>
	      <v-btn icon dark small >
	        <v-icon>mdi-chevron-right</v-icon>
	      </v-btn>
	    </v-app-bar>
	    <v-row justify=center align=center class=ma-0>
	    	<comments :post="post"></comments>
	    </v-row>
	  </v-dialog>
	</v-card>
</template>
<script>
import axios from 'axios'
import navigation from './Navigation'
import Cookies from 'js-cookie'
import { FacebookIcon, TwitterIcon, RedditIcon, PinterestIcon } from 'vue-simple-icons'
import vueClickHelper from 'vue-click-helper'
import comments from './Comments'

export default {
	data: () => {
		return {
			tip: false,
			min: 1,
			max: 1000,
			slider: 10,
			alert: false,
			message: null,
			shareNav: true,
			loaded: false,
			dialog: false,
			owner: null,
			postSaved: false,
			postLiked: false,
			postTipped: false,
			sharing: {
			  url: '',
			  title: '',
			  description: '',
			  quote: 'Share your experience',
			  hashtags: 'EXPERIENCE,XP',
			  twitterUser: 'ciaobenga'
			}
		}	
	},
	props: ['post', 'saved', 'liked', 'tipped'],
	directives: {
	    'click': vueClickHelper
	},
	components: {
		navigation,
		FacebookIcon,
		TwitterIcon,
		RedditIcon,
		PinterestIcon,
		comments
	},
	watch: {
		saved(x){
			this.probeSaved()
		},
		liked(x){
			this.probeLiked()
		},
		tipped(x){
			this.probeTipped()
		}
	},
	mounted(){
		this.probeSaved()
		this.probeLiked()
		this.probeTipped()

	},

	computed: { 
		user(){
			return this.$store.state.user
		},
		appFee(){
			return (this.total * 0.1995).toFixed(2)
		},
		total(){
			return (this.slider * 1.1995).toFixed(2)
		},
	},
	methods: {
		jsonParse(e){
		  return JSON.parse(e)
		},
		timer(){
			var timer = setInterval(this.loadedTimer, 7000)
		},
		loadedTimer(){
			this.loaded = true
		},
		probeClick(e, isDoubleClick){
			if (isDoubleClick){
				if (this.postLiked) {
					this.unlike()
				}else{
					this.like()
				}
			}
		},
		probeSaved(){
			let savedPost = this.saved.find( x => x['uuid'] === this.post.post.uuid )
			if (savedPost) {
				this.postSaved = true
			}else{
				this.postSaved = false
			}
		},
		probeLiked(){
			let likedPost = this.liked.find( x => x['uuid'] === this.post.post.uuid )
			if (likedPost) {
				this.postLiked = true
			}else{
				this.postLiked = false
			}
		},
		probeTipped(){
			let tippedPost = this.tipped.find( x => x['uuid'] === this.post.post.uuid )
			if (tippedPost) {
				this.postTipped = true
			}else{
				this.postTipped = false
			}
		},
		like(){
			var f = new FormData()

			f.append('uuid', this.post.post.uuid)

		    axios.post('/likePost', f, { headers: {
		          'X-CSRFToken': Cookies.get('csrftoken')} 
		        }).then( (r) => {
		        	this.$store.dispatch('getLikedPosts', {})
		        	this.message = "Successfully saved post"
		        	this.alert = true
		      }, () => {
		        console.log('oops')
		     })
		},
		unlike(){
			var f = new FormData()

			f.append('uuid', this.post.post.uuid)

		    axios.post('/unlikePost', f, { headers: {
		          'X-CSRFToken': Cookies.get('csrftoken')} 
		        }).then( (r) => {
		        	this.$store.dispatch('getLikedPosts', {})
		        	this.message = "Successfully saved post"
		        	this.alert = true
		      }, () => {
		        console.log('oops')
		     })
		},
		save(){
			var f = new FormData()

			f.append('uuid', this.post.post.uuid)

		    axios.post('/savePost', f, { headers: {
		          'X-CSRFToken': Cookies.get('csrftoken')} 
		        }).then( (r) => {
		        	this.$store.dispatch('getSavedPosts', {})
		        	this.message = "Successfully saved post"
		        	this.alert = true
		      }, () => {
		        console.log('oops')
		     })
		},
		unsave(){
			var f = new FormData()

			f.append('uuid', this.post.post.uuid)

		    axios.post('/unsavePost', f, { headers: {
		          'X-CSRFToken': Cookies.get('csrftoken')} 
		        }).then( (r) => {
		        	this.$store.dispatch('getSavedPosts', {})
		        	this.message = "Successfully saved post"
		        	this.alert = true
		      }, () => {
		        console.log('oops')
		     })
		},
		share(){
			if (navigator.share) {
			  this.shareNav = false
			  navigator.share({
			    title: this.post.post.username,
			    text: this.sharing.quote,
			    url: window.location.href
			  }).then(() => {
			    console.log('Thanks for sharing!')
			  })
			  .catch(err => {
			    console.log(`Couldn't share because of`, err.message)
			  })
			}
		},
		checkout(){
			 var f = new FormData()
			 f.append('name', this.post.user.username)
			 f.append('uuid', this.post.post.uuid)
			 f.append('merchant_key', this.post.profile.stripe_key)
			 f.append('description', this.post.post.caption)
			 f.append('user', this.post.user.id)
			 f.append('amount', Math.round(this.total*100))
			 f.append('currency', 'USD')
			 f.append('payout', (Math.round(this.total*100) - Math.round(this.appFee*100)))
			 
			 axios.post('/tipPostCheckout', f, { headers: {
		          'X-CSRFToken': Cookies.get('csrftoken')} 
		        }).then( (r) => {
		        	 this.session = r.data
		        	 // pk_live_sMXJlPyFwJJ1GsqRuGq5nCSZ00dOm7UUAX
		        	 // pk_test_735YPPOQT1E6HIMuXyrEbBSm00rkTfy3sL
			         var stripe = Stripe('pk_live_sMXJlPyFwJJ1GsqRuGq5nCSZ00dOm7UUAX');
			         stripe.redirectToCheckout({
			           sessionId: r.data.id 
			         }).then(function (r) {
			           // If `redirectToCheckout` fails due to a browser or network
			           // error, displaxy the localized error message to your customer
			           // using `result.error.message`.
			         });
			 }, () => {
			     console.log('Looks like something went wrong')
			 })
		},
	}

}

</script>
<style>
	.mt-10 {
		margin-top: 200px!important;
	}
	.alink {
		font-family: Staatliches!important;
		font-size: 0.9rem;
	}
	.staatliches {
		font-family: Staatliches!important;
	}
	.center-items{
		justify-content: center;
		align-items: center;
	}
	.feed-avatar {
		background-size: cover;
		width: 150px;
		height: 150px;
		border-radius: 50%;
		cursor: pointer;
	}
	.v-responsive {
		height: 100%!important;
	}
	.c-bar {
		left: 0!important; 
		right: 0!important; 
		margin-left: auto!important; 
		margin-right: auto!important; 
		bottom: 0!important;
		position: fixed!important;
		width: 300px!important; /* Need a specific value to work */
	} 
</style>