<template>
	<v-container fluid>
	    <v-row wrap justify=center align=center>
	      <v-col
	        cols="12"
	        class=pb-0
	      >
	        <v-textarea
	          solo
	          name="input-7-1"
	          label="Caption"
	          v-model="caption"
	          hint="The Woodman set to work at once, and so sharp was his axe that the tree was soon chopped nearly through."
	        ></v-textarea>
	      </v-col>
	      <!-- If stripe account enabled -->
	      <v-col cols=12 v-if="!_.isEmpty(account) && account.stripe_key == 'none'">
	      	<img
	      	  style="background-size: contain;height: 100px;width: 100px;"
	      	  src="/static/bank.gif"
	      	/>
	      	<p>Connect your stripe account and start earning money with XP</p>
	      	
	      	<!-- ca_Gtx5ZdPucwIlQRURQE4Z1ZVeuhNsC2io-->
	      	<a target="blank" href="https://connect.stripe.com/express/oauth/authorize?client_id=ca_Gtx5sCN6p04B37esYKqjko50UajOeR0D&state={STATE_VALUE}&suggested_capabilities[]=transfers&stripe_user[email]=">
	      	  <img style="height: 40px;" src="/static/stripeConnect.png">
	      	</a>
	      	<div class="mt-3">
	      		<a @click="probeAccount">
	      			<span type="text" class="mt-3 grey--text font-weight-black" >I have already connected</span>
	      		</a>
	      	</div>

	      </v-col>
  	      <v-col cols="12" v-else>
  	      	<v-switch v-model="tips" :label="`Allow tips for this post`"></v-switch>
  	      </v-col>
  	      <v-col cols="12" v-if="tips">
  	      	<v-switch v-model="TTI" :label="`Allow tip to interact (TTI) for this post`"></v-switch>
  	      </v-col>
  	      <v-col cols="12" v-if="TTI && tips">
  	      	<span class="subheading font-weight-light mr-1">$</span>
  	      	<span
  	      	  class="display-3 font-weight-light"
  	      	  v-text="slider"
  	      	></span>
  	      	<span class="subheading font-weight-light mr-1">.00</span>
  	      	<v-slider
  	      	   v-model="slider"
  	      	   class="align-center"
  	      	   :max="max"
  	      	   :min="min"
  	      	   hide-details
  	      	 >
  	      	 </v-slider>
  	      	 <p>People will only be able to interact with this post after they have tipped a minimum of this amount</p>
  	      </v-col>
	      <v-col cols="12">
	      	<v-switch v-model="comments" :label="`Allow comments for this post`"></v-switch>
	      </v-col>
	      <v-col cols="12">
	      	<v-switch v-model="likable" :label="`Show likes for this post`"></v-switch>
	      </v-col>
	      <v-col cols="12">
	      	<v-switch v-model="location" :label="`Allow location for this post`"></v-switch>
	      </v-col>
	      <!-- location -->
	    </v-row> 
	  </v-container>
</template>
<script>
import axios from 'axios'
import Cookies from 'js-cookie'
import { v4 as uuidv4 } from 'uuid'

export default {
	data: () => {
		return {
			account: null,
			uuid: null,
			caption: '',
			comments: false,
			likable: false,
			tips: false,
			TTI: false,
			location: false,
			minTip: '',
			tagged: [],
			hashtags: [],
			min: 1,
			max: 100,
			slider: 40,
			latitude: '',
			longitude: '',
			geocode: '',
			rules: [
			  value => !!value || 'Required.',
			]

		}
	}, 

	props: ['loaded', 'uploads'],

	mounted(){
		this.$store.dispatch('getUserProfile', {})
	},

	computed: { 
		profile(){
			return this.$store.state.profile
		},
		stripeKey () {
			return this.$store.state.stripeKey
		}
	},
	watch: {
		profile(x){
			this.account = x.profile
		},
		location(x){
			if (x == true) {
				this.getCord()
			}else{
				this.longitude = ''
				this.latitude = ''
			}
		},
		longitude(x){
			if (x != '') {
				this.reverseGeocode()
			}
		},
		loaded(x){
			if (x == true) {
				this.createPost()
			}
		},
		stripeKey (x) {
			if (x != null) {
				this.account.stripe_key = x
			}
			
		}
	},
	methods: {
		probeAccount(){
			this.$store.dispatch('getUserProfile', {})
		},
		getCord(){
		  var startPos
		  var geoSuccess = (position) => {
		    startPos = position;
		    this.latitude = startPos.coords.latitude
		    this.longitude = startPos.coords.longitude
		  }

		  navigator.geolocation.getCurrentPosition(geoSuccess)
		},

		reverseGeocode(){
			var fd = new FormData()
			fd.append('lat', this.latitude)
			fd.append('lng', this.longitude)

			axios.post('reversegeocode', fd, { headers: {
			      'Content-Type': 'multipart/form-data',
			      'X-CSRFToken': Cookies.get('csrftoken')} 
			    }).then( (res) => {
			    	this.geocode = res.data.location
			  }, () => {
			    console.log('oops')
			  })
		},
		createPost(){
			var fd = new FormData()
			this.uuid = uuidv4()
			fd.append('caption', this.caption)
			fd.append('uuid', this.uuid)
			fd.append('media', JSON.stringify(this.uploads))
			fd.append('repliable', this.comments)
			fd.append('likable', this.likable)
			fd.append('tipable', this.tips)
			fd.append('TTI', this.TTI)
			fd.append('group', (this.uploads.length > 1) ? 'multipart' : 'single')
			fd.append('minTip', this.slider)
			if (this.location) {
				fd.append('location', JSON.stringify(this.geocode))
			}

			axios.post('createPost', fd, { headers: {
			      'Content-Type': 'multipart/form-data',
			      'X-CSRFToken': Cookies.get('csrftoken')} 
			    }).then( (res) => {
			    	//success
			    	this.$router.push({ path: `/p/${this.uuid}`})
			  }, () => {
			    console.log('oops')
			})
		}
	}
}
</script>