<template>
	<v-app class="black-bg">
		<v-container fluid fill-height>
			<v-row class="center-items">
				<v-col md="4">
					<div class="text-xs-center" style="margin-bottom: 40px; margin-top: -80px;">
						<img src="/static/apple-icon.png" style="height: 100px;">
					</div>
					<p style="color: white;">Purchase was made successully!</p>
					<v-btn v-if="!_.isEmpty(uuid)"  :href="`/#/p/${uuid}`" block color="black" class="mt-7 mx-0 white--text" @click="checkout">Continue</v-btn>
				</v-col>
			</v-row>

		</v-container>
	</v-app>

</template> 
<script>
import axios from 'axios'
import Cookies from 'js-cookie'	

export default {
	data: () => {
		return {
			order: null,
			loading: true,
			message: null,
			alert: false,
			orderItemsObj: {},
			uuid: null,
		}
	},

	mounted(){
		this.$store.dispatch('getUser', {})
	},

	created(){ 
		this.getOrder()
	},

	computed: {
		user(){
			return this.$store.state.user
		},
	},

	methods: {
		getOrder(){
			var f = new FormData()
 			
			f.append('session', this.$route.params.session)

		    axios.post('/tipPostSuccess', f, { headers: {
		          'X-CSRFToken': Cookies.get('csrftoken')} 
		        }).then( (r) => {
		        	this.order = r.data
		        	if (r.data.user == null) {
		        		this.session = r.data.order
		        	}
		        	this.uuid = r.data.post
		      }, () => {
		        console.log('oops')
		    })
				
		}
	}
}
</script>
<style>
	.btn-1 {
		background-color: rgb(0,0,0); margin-bottom: 20px;color: white;
	}
	.black-bg {
		background-color: black!important;
	}
</style>