<template>
	<v-app>
	    <v-toolbar
	      flat
	      extended
	    >
	        <router-link :to="{ name: 'search'}">
	    	    <v-btn icon >
	    	      <v-icon>mdi-magnify</v-icon>
	    	    </v-btn>
	    	</router-link>
	        <v-spacer></v-spacer>	
	        <router-link :to="{ name: 'home'}">
	    	    <v-btn icon>
	    	    	<img src="/static/black.png" style="height:40px;"></img>
	    	    </v-btn>
	    	</router-link>
	        <v-spacer></v-spacer>
	        &nbsp;
	          <v-btn icon @click="share">
	            <v-icon>mdi-export-variant</v-icon>
	          </v-btn>
	    </v-toolbar>
		<v-container fill-height fluid>
			<!-- Stop sales if the party ended -->
			<v-row class="center-items mt-5" v-if="event!=null">
				<v-col sm="12" md="6">
					<h1 class="heading" style="font-size: 30px;">{{ event.name }}</h1>
					<countdown :time="duration">
					  <template slot-scope="props">
					  	<!-- <h1 style="margin-bottom: 10px;">STARTS</h1> -->
					  	<h2 class="sub-heading">{{ props.days }}DAYS {{ props.hours }}HRS {{ props.minutes }}MIN {{ props.seconds }}SEC</h2>
					  </template>
					</countdown>

					<p class="subtext">{{event.description}}</p>
					<v-chip v-for="(tag, i) in jsonParse(event.tags)" :key="i" style="text-transform: capitalize;">
					  <v-avatar
					    class="primary white--text"
					    left
					    v-text="tag.slice(0, 1).toUpperCase()"
					  ></v-avatar>
					  {{ tag }}
					</v-chip>
				</v-col>
				<v-col sm="12" md="6">
					<type @change="setProductType"></type>
					<products v-for="(product, i) in jsonParse(event.products)" :productType="productType" :product="product" :key="i" v-if="product.type.name == productType"></products>
					<div v-if="jsonParse(event.products)[0].type.name != productType">
						<v-img
						  height="300"
						  style="background-size: contain;"
						  :src="'/static/'+productType+'.gif'"
						></v-img>
						<h1 class="my-2">Sorry, No {{productType}} found</h1>
					</div>
				</v-col>
				<v-col sm=12 md=6>
					<v-btn v-if="bag.length > 0" @click="Checkout" block style="background-color: rgb(0,0,0); margin-bottom: 20px;color: white;" class="mx-0 white--text">Continue (${{ total }})</v-btn>
				</v-col>
			</v-row>
		</v-container>
		<v-dialog
		  v-model="dialog"
		  max-width="290"
		>
		  <v-card>
		    <v-card-title>SocialShare</v-card-title>
		    <v-card-text>
		     <ShareNetwork
		       v-for="(network, i) in networks"
		       :network="network.network"
		       :key="i"
		       :url="sharing.url"
		       :title="sharing.title"
		       :description="sharing.description"
		       :quote="sharing.quote"
		       :hashtags="sharing.hashtags"
		       :twitterUser="sharing.twitterUser"
		     >
		     <v-btn class="ma-2" flat>
		       {{ network.name }}
		     </v-btn>
		     </ShareNetwork>
		    </v-card-text>

		    <v-card-actions>
		      <v-btn
		        color="primary"
		        text
		        @click="dialog = false"
		      >
		        cancel
		      </v-btn>
		    </v-card-actions>
		  </v-card>
		</v-dialog>
	</v-app>
</template>
<script>
import Vue from 'vue'
import axios from 'axios'
import Cookies from 'js-cookie'
import products from './products'
import type from './type'
import VueCountdown from '@chenfengyuan/vue-countdown'

Vue.component(VueCountdown.name, VueCountdown)

export default {
	data: () => {
		return {
			event: null,
			loading: true,
			productType: 'ticket',
			promoter: null,
			dialog: false,
			sharing: {
			  url: '',
			  title: '',
			  description: '',
			  quote: 'Bringing people together through shared experience',
			  hashtags: 'EXPERIENCE,XP',
			  twitterUser: 'ciaobenga'
			},
			networks: [
		        { network: 'facebook', name: 'Facebook', icon: 'facebook-square', color: '#1877f2' },
		        { network: 'pinterest', name: 'Pinterest', icon: 'pinterest-square', color: '#bd081c' },
		        { network: 'reddit', name: 'Reddit', icon: 'reddit-square', color: '#ff4500' },
		        { network: 'twitter', name: 'Twitter', icon: 'twitter-square', color: '#1da1f2' },
		     ]
		}
	},
	components: {
		products,
		VueCountdown,
		type,
	},
	mounted(){
		this.getEvent()
		this.emptyBag()
	},
	watch: {
		event(){
			var then = Vue.moment(this.event.startDate+'T'+this.event.startTime)
			var now = Vue.moment()
			this.duration = then.valueOf() - now.valueOf()
			this.loading = false 
		}
	},
	computed: {
		appFee(){
			return (this.$store.state.total * 0.099).toFixed(2)
		},
		total: {
		    get () {
		      return (this.$store.state.total * 1.0495).toFixed(2)
		    },
		    set (value) {
		      this.$store.commit('UPDATE_TOTAL', value)
		    }
		},
		bag: {
		    get () {
		      return this.$store.state.bag 
		    },
		    set (value) {
		      this.$store.commit('UPDATE_BAG', value)
		    }
		},
		session: {
			get () {
				return this.$store.state.session
			},
			set (value) {
				this.$store.commit('SET_SESSION', value)
			}
		}
	},
	methods: {
		emptyBag(){
			this.total = 0
			this.bag.splice(0, this.bag.length)
		},
		share(){
			if (navigator.share) {
			  navigator.share({
			    title: this.event.name,
			    text: this.event.description,
			    url: window.location.href
			  }).then(() => {
			    console.log('Thanks for sharing!');
			  })
			  .catch(err => {
			    console.log(`Couldn't share because of`, err.message);
			  });
			} else {
				this.sharing.url = window.location.href
				this.sharing.title = this.event.name
				this.sharing.description = this.event.description
			  	this.dialog = true
			}
		},
		getEvent(){
			var f = new FormData()

			f.append('uuid', this.$route.params.uuid)

		    axios.post('/viewevent', f, { headers: {
		          'X-CSRFToken': Cookies.get('csrftoken')} 
		        }).then( (r) => {
		        	this.event = r.data
		        	this.sharing.url = window.location.href
		        	this.sharing.title = this.event.name
		        	this.sharing.description = this.event.description
		        	if (this.$route.name == 'pViewEvents') {
		        		this.promoter = this.jsonParse(this.event.promoters).filter(obj => {
		        		  return obj.username === this.$route.params.pid
		        		})
		        	}
		      }, () => {
		        console.log('oops')
		     })
		},
		jsonParse(e){
		  return JSON.parse(e)
		},
		setProductType(e){
			this.productType = e
		},
		Checkout(){
			 var f = new FormData()
			 f.append('event_id', this.event.event_id)
			 f.append('name', this.event.name)
			 f.append('description', this.event.description)
			 f.append('amount', Math.round(this.total*100))
			 f.append('currency', 'USD')
			 f.append('items', JSON.stringify(this.bag))
			 f.append('route_name', this.$route.name)

			 if(this.$route.name == 'pViewEvents'){
			 	var payout = Math.round(this.total*100) - Math.round(this.appFee*100)
			 	var commission_amount = Math.round(payout * this.promoter[0].commission)
			 	f.append('pid', this.$route.params.pid) 
			 	f.append('commission_amount', commission_amount)
			 	f.append('payout', (payout - commission_amount))
			 }else{
			 	f.append('payout', (Math.round(this.total*100) - Math.round(this.appFee*100)))
			 }

			 axios.post('/checkout', f, { headers: {
		          'X-CSRFToken': Cookies.get('csrftoken')} 
		        }).then( (r) => {
		        	 this.session = r.data
		        	 // pk_live_sMXJlPyFwJJ1GsqRuGq5nCSZ00dOm7UUAX
			         var stripe = Stripe('pk_live_sMXJlPyFwJJ1GsqRuGq5nCSZ00dOm7UUAX');
			         stripe.redirectToCheckout({
			           sessionId: r.data.id 
			         }).then(function (r) {
			           // If `redirectToCheckout` fails due to a browser or network
			           // error, displaxy the localized error message to your customer
			           // using `result.error.message`.
			         });
			 }, () => {
			     console.log('Looks like something went wrong')
			 })
		}
	}
}
</script>
<style>
	.center-items {
		height:100vh;
	    display:flex;
	    align-items:center;
	    justify-content:center;
	}
	.heading {
		font-family: Staatliches!important;
		font-size: 4rem;
		margin-bottom: 30px;
		color: black;
		text-transform: uppercase!important;
	}
	.sub-heading {
		font-size: 1.5rem;
		margin-bottom: 30px;
		color: grey;
	}
	.subtext {
		color: black;
		margin-bottom: 30px;
	}
	.v-btn__content {
		font-family: Staatliches!important;
		font-size: 2em!important;
	}
	.heading-1 {
		font-family: Staatliches!important;
		font-size: 1.5rem;
		margin-bottom: 30px;
		color: black;
	}
</style>