<template>
	<v-card
	  class="mx-auto"
	  outlined
	>
	  <v-list-item three-line v-if="product.type.name == productType">
	  	<v-list-item-avatar>
	  	  <v-img v-if="product.images" :src="'https://s3-us-west-1.amazonaws.com/xp.ciaobenga.com/media/public/'+ product.images.filename"></v-img>
          <v-icon v-else>{{product.type.icon}}</v-icon>
        </v-list-item-avatar>
	    <v-list-item-content>
	      <v-list-item-title class="headline mb-1 text-left" style="text-align: left;font-family: Staatliches!important;">{{ product.name }} </v-list-item-title>
	      <div class="overline mb-4 text-left" v-if="product.quantity != 0" style="text-align: left;"> (${{product.price}}.00) Only {{ product.quantity }} items remain</div>
	      <v-list-item-subtitle style="text-align: left;">{{ product.description }}</v-list-item-subtitle>
	    </v-list-item-content>
	    <div v-if="product.quantity == 0">
	    	<h2 class="heading-1" >SOLD OUT</h2>
	    </div>
	    <div v-else>
	    	<v-btn icon color="black" v-if="bagLength > 0" @click="removeItem(product)">
	    		<v-icon class="mr-1">mdi-minus</v-icon>
	    	</v-btn>
	    	&nbsp;&nbsp;
	    	<span class="subheading mr-2">{{bagLength}}</span>
	    	&nbsp;&nbsp;
	    	<v-btn icon color="black" v-if="bagLength < product.quantity" @click="addItem(product)">
	    		<v-icon class="mr-1">mdi-plus</v-icon>
	    	</v-btn>
	    </div>
	  </v-list-item>
	</v-card>
</template>
<script>
export default {
	data: () => {
	  return {
	    bagLength: null,
	  }
	},
	props: ['product', 'productType'],
	computed: {
		total: {
		    get () {
		      return this.$store.state.total 
		    },
		    set (value) {
		      this.$store.commit('UPDATE_TOTAL', value)
		    }
		},
		bag: {
		    get () {
		      return this.$store.state.bag 
		    },
		    set (value) {
		      this.$store.commit('UPDATE_BAG', value)
		    }
		}
	},
	methods: {
		jsonParse(e){
		  return JSON.parse(e)
		},
		addItem(p){
			var x = this.total
			this.total = +x + +p.price
			this.bag.push(p)
			this.computeBagLength(p)
		},
	    removeItem(p){
	        var pos = this.bag.map(function(e) { return e.name; }).indexOf(p.name);
	        this.bag.splice(pos, 1)
	        var x = this.total
	        this.total = +x - +p.price
	        this.computeBagLength(p)
	    },
	    computeBagLength(p){
	      var bag = this.bag.filter(function(product) {
	        return product.name == p.name;
	      });
	      this.bagLength = bag.length
	    }
	}
}
</script>