<template>
<v-container>
      <v-tabs v-model="tab" background-color="transparent" centered icons-and-text>
      
      <v-tabs-slider></v-tabs-slider>

      <v-tab v-for="(type, i) in types">
        {{ type.name }}
        <v-icon>{{ type.icon }}</v-icon>
      </v-tab>
    </v-tabs>

</v-container>

</template>

<script>
  export default {
    data: () => ({
      tab: 0,
      model: {name:'ticket', icon: 'mdi-ticket'},
      types: [ {name:'ticket', icon: 'mdi-ticket'}, {name: 'drink', icon: 'mdi-cup-water'}, {name: 'consumable', icon: 'mdi-noodles'},{ name: 'merchandise', icon: 'mdi-hanger'}]
    }),

    watch: {
      tab(val){
        this.$emit('change', this.types[val].name)  
      }
    }
  }
</script>
<style>
  .v-slide-group__prev {
      /* display: initial; */
      /* visibility: hidden; */
      display: none!important;
  }
</style>