<template>
	<v-app>
		<MglMap
		  v-if="!loading"
		  :accessToken="accessKey"
		  :mapStyle.sync="mapStyle"
		  :center="[longitude, latitude]"
		  :attributionControl="false"
		  :pitch="0"
		  :bearing="0"
		  :zoom="12"
		  :minZoom="5"
		  :maxZoom="20"
		>
		<navigation></navigation>
		<!-- Adding GeoJSON layer -->
		<v-btn-toggle
		  v-model="toggle"
		  class="mt-2"
		  rounded
		  dark
		>
		  <v-tooltip bottom>
		    <template v-slot:activator="{ on, attrs }">
		    	<v-btn @click="sortProfiles" v-bind="attrs" v-on="on">
		    	  <v-icon>mdi-format-list-bulleted</v-icon>
		    	</v-btn>
		    </template>
		    <span>Nearby</span>
		  </v-tooltip>
		  <v-tooltip bottom>
		    <template v-slot:activator="{ on, attrs }">
		    	<v-btn @click="routeTo('verify')" v-bind="attrs" v-on="on">
		    	  <v-icon>mdi-barcode-scan</v-icon>
		    	</v-btn>
		    </template>
		    <span>Verify</span>
		  </v-tooltip>
		  <v-tooltip bottom>
		    <template v-slot:activator="{ on, attrs }">
		    	<v-btn @click="routeTo('createEvents')" v-bind="attrs" v-on="on">
		    	  <v-icon>mdi-plus-box-outline</v-icon>
		    	</v-btn>
		    </template>
		    <span>Create</span>
		  </v-tooltip>
		  <v-tooltip bottom>
		    <template v-slot:activator="{ on, attrs }">
		    	<v-btn @click="routeTo('settings')" v-bind="attrs" v-on="on">
		    	  <v-icon>mdi-tune</v-icon>
		    	</v-btn>
		    </template>
		    <span>Settings</span>
		  </v-tooltip>
		</v-btn-toggle>
		  <MglMarker v-for="(event, i) in events" :key="i" :coordinates="[jsonParse(event.event.location).geometry.location.lng,jsonParse(event.event.location).geometry.location.lat]" @click="rEvent(event.event)">
		  	<div slot="marker">
		  		<v-tooltip bottom>
		  		  <template v-slot:activator="{ on, attrs }">
		  		  	<img
		  		  	  class="marker"
		  		  	  src="/static/party.gif"
		  		  	  alt="Avatar"
		  		  	  v-bind="attrs" v-on="on"
		  		  	>
		  		  </template>
		  		  <span><h2 class="heading-2 mb-0">{{ event.event.name }}</h2>{{ event.event.description.substring(0, 89)}}..</span>
		  		</v-tooltip>
		  	</div>
		  </MglMarker>
		  <MglMarker v-for="(profile, i) in profiles" :key="'b'+i" :coordinates="[jsonParse(profile.profile.location).geometry.location.lng,jsonParse(profile.profile.location).geometry.location.lat]" @click="rProfile(profile.username)">
		  	<div slot="marker">
		  		<v-tooltip bottom>
		  		  <template v-slot:activator="{ on, attrs }">
		  		  	<img
		  		  	  style="height:77px"
		  		  	  :src="`/static/gavatar-${profile.profile.gavatar}.gif`"
		  		  	  alt="Avatar"
		  		  	  v-bind="attrs" v-on="on"
		  		  	>
		  		  </template>
		  		  <span><h2 class="heading-2 mb-0">{{ profile.username }}</h2>{{ profile.profile.bio.substring(0, 89)}}..</span>
		  		</v-tooltip>
		  	</div>
		  </MglMarker>
<!-- 		  <MglMarker v-for="(restbar, i) in restbars" :key="'a'+i" :coordinates="[restbar.location[0].lng, restbar.location[0].lat]" >
		  	<div slot="marker">
		  		<v-tooltip bottom>
		  		  <template v-slot:activator="{ on, attrs }">
		  		  	<img
		  		  	  class="marker"
		  		  	  src="/static/restbars-1.gif"
		  		  	  alt="Avatar"
		  		  	  v-bind="attrs" v-on="on"
		  		  	>
		  		  </template>
		  		  <span><h2 class="heading-2 mb-0">{{ restbar.placeName }}</h2>Coming Soon</span>
		  		</v-tooltip>
		  	</div>

		  </MglMarker> -->
		  <!-- <bottomnav></bottomnav> -->
		  <v-dialog v-model="dialog" fullscreen hide-overlay transition="dialog-bottom-transition">
		  	<v-container style="width:320px;" fluid>
			    <v-card elevation="0">
			      <v-row justify="center" align="center">
			      	  <v-col cols="12">
			      	  	<v-card-text>
			      	  		<img src="/static/slider-1.gif" style="height: 300px;">
			      	  	</v-card-text>
			      	  	<h1 class="heading-3 my-5">Welcome to XP</h1>
			      	  	<p>We are bringing people together through shared experience!</p>
			      	  </v-col>
				      <v-col cols="12" style="margin-top: -30px;" >
				        <v-btn block color="black" style="width: 300px;" class="white--text" href="/#/authorize">Get started</v-btn>
				      </v-col>
				      <v-col cols="12">
				      	<v-btn icon @click="dialog = false">
				      	  <v-icon>mdi-close</v-icon>
				      	</v-btn>
				      </v-col>
				   </v-row>
			    </v-card>
			</v-container>
		  </v-dialog>

		  <v-dialog v-model="contactDialog" persistent max-width="600px">
		    <v-card>
		      <v-card-title>
		        <span><h1 style="font-size: 1.3rem;">Guestlist</h1></span>
		      </v-card-title>
		      <v-card-text>
		        <v-container>
		          <v-row>
		            <v-col cols="12" sm="6">
		              <v-text-field solo label="First name*" required></v-text-field>
		            </v-col>
		            <v-col cols="12" sm="6">
		              <v-text-field
		              	solo
		                label="Last name*"
		                persistent-hint
		                required
		              ></v-text-field>
		            </v-col>
		            <v-col cols="12">
		              <v-text-field solo label="Email*" required></v-text-field>
		            </v-col>
		            <v-col cols="12">
		              <v-text-field solo label="Phone Number*" type="number" required></v-text-field>
		            </v-col>
		          </v-row>
		        </v-container>
		        <v-checkbox
		          v-model="checkbox"
		          :rules="[v => !!v || 'You must agree to continue!']"
		          label="I Would like us to store this information and use it to contact me in the future"
		          required
		        ></v-checkbox>
		        <v-alert
		          dense
		          class="text-left"
		          border="left"
		          type="warning"
		        >
		          Contact Tracing is now required due to <strong>COVID-19</strong> stay safe and limit capacity to 50 people or less
		        </v-alert>
		      </v-card-text>
		      <v-card-actions>
		        <v-spacer></v-spacer>
		        <v-btn color="primary" text @click="contactDialog = false">Close</v-btn>
		        <v-btn color="primary" text @click="contactDialog = false">Save</v-btn>
		      </v-card-actions>
		    </v-card>
		  </v-dialog>

		  <v-navigation-drawer
		    v-model="drawer"
		    absolute
		    bottom
		    temporary
		  >
		    <v-list two-line nav>
		    	 <v-subheader class="custom-header">NEARBY</v-subheader>
		    	<v-list-item
		    	  v-for="(profile, i) in profiles"
		    	  :key="'P'+i"

		    	>
		    	<v-list-item-avatar style="width: auto;">
		    	  <img
		    	    style="height:40px;"
		    	    :src="`/static/gavatar-${profile.profile.gavatar}.gif`"
		    	    alt="Avatar"
		    	  >
		    	</v-list-item-avatar>

		    	<v-list-item-content >
		    	    <v-list-item-title style="text-align: left!important;margin-left: 10px;font-family: Staatliches!important;" v-text="profile.username"></v-list-item-title>
		    	    <v-list-item-subtitle style="text-align: left!important;margin-left: 10px;" v-text="`${ profile.profile.bio.substring(0, 89)}...`"></v-list-item-subtitle>
		    	</v-list-item-content>

		    	<v-list-item-action>
		    	  <v-btn icon @click="contactDialog = true">
		    	    <v-icon color="grey lighten-1">mdi-playlist-check</v-icon>
		    	  </v-btn>
		    	</v-list-item-action>

		    	</v-list-item>
		    </v-list>
		  </v-navigation-drawer>
		</MglMap> 
	</v-app>
</template>
<script>
import { MglMap, MglMarker } from 'vue-mapbox'
import navigation from './components/Navigation'
import bottomnav from './components/Bottomnav'
export default {
	components: {
		MglMap,
		MglMarker,
		navigation,
		bottomnav
	},

	data: () => {
		return {
			accessKey: 'pk.eyJ1IjoiY2lhb2JlbmdhIiwiYSI6ImNrYzRjMjZpYTAxOWsyeHBjamg0aWdzdWEifQ.G77OOfr7h-i52Zkkdu3cag',
			mapStyle: 'mapbox://styles/ciaobenga/ckcyjn4271wdi1in5r95mnmfk',
			overlay: false,
			loading: false,
			center: {lat: 46.376332, lng: 8.547511},
			latitude: '49.246292',
			longitude: '-123.116226',
			e0: null,
			toggle: null,
			restbars: null,
			compZoom: 15,
			dialog: false,
			contactDialog: false,
			drawer: false,
			sortedProfiles: null,
			checkbox: true,
		}
	},


	created(){
		this.getCord()
	},

	mounted() {
	  this.$store.dispatch('getUser', {})
	  this.$store.dispatch('getEvents', {})
	  this.$store.dispatch('getPublicProfiles', {})
	  this.restbars = require('./helpers/restbars.js')
	  this.loading = true
	},

	computed: { 
		events(){
			return this.$store.state.events
		},
		user(){
			return this.$store.state.user
		},
		profiles(){
			return this.$store.state.profiles
		}
	},

	watch: {
		events(){
			this.loading = false
		},
		user(val){
			if (val == 'False') {
				this.dialog = true
			}
		},
		profiles(val){
			function calculateDistance(lat1, lon1, lat2, lon2, unit) {
			  var radlat1 = Math.PI * lat1/180
			  var radlat2 = Math.PI * lat2/180
			  var radlon1 = Math.PI * lon1/180
			  var radlon2 = Math.PI * lon2/180
			  var theta = lon1-lon2
			  var radtheta = Math.PI * theta/180
			  var dist = Math.sin(radlat1) * Math.sin(radlat2) + Math.cos(radlat1) * Math.cos(radlat2) * Math.cos(radtheta)
			  dist = Math.acos(dist)
			  dist = dist * 180/Math.PI
			  dist = dist * 60 * 1.1515
			  if (unit=="K") { dist = dist * 1.609344 }
			  if (unit=="N") { dist = dist * 0.8684 }
			  return dist
			}

			var i = 0
			var n = this.profiles.length 
			for(let profile of this.profiles){
			   profile.profile.distance = calculateDistance(this.jsonParse(profile.profile.location).geometry.location.lat, this.jsonParse(profile.profile.location).geometry.location.lng, this.latitude, this.longitude, "K")
			   i++
			   if (i == n) {
			   	return
			   }
			}
		}
	},

	methods: {
		sortProfiles(){
			this.profiles.sort(function(a, b) { 
			  return a.profile.distance - b.profile.distance
			})
			this.drawer = true
		},
		zProbe(e){
			this.compZoom = e.map.transform._zoom
		},
		getEvents(){
			this.$store.dispatch('getEvents', {})
		},
		getUserEvents(){
			if (this.user == 'False') {
				this.$router.push({name:'authorize'})
			}else{
				this.$store.dispatch('getCurrUserEvents', {})
			}
		},
		getFollowsEvents(){
			if (this.user == 'False') {
				this.$router.push({name:'authorize'})
			}else{
				this.$store.dispatch('getFollowsEvents', {})
			}
		},	
		getFriendsEvents(){
			if (this.user == 'False') {
				this.$router.push({name:'authorize'})
			}else{
				this.$store.dispatch('getFriendsEvents', {})
			}
		},
		authorize(){
			this.$router.push({name:'authorize'})
		},
		getCord(){
		  var startPos
		  var geoSuccess = (position) => {
		    startPos = position;
		    this.latitude = startPos.coords.latitude
		    this.longitude = startPos.coords.longitude
		  }

		  navigator.geolocation.getCurrentPosition(geoSuccess)
		},
		jsonParse(e){
			try {
			    // Parse a JSON
			    return JSON.parse(e)
			} catch (err) {
			    // You can read e for more info
			    // Let's assume the error is that we already have parsed the payload
			    // So just return that
			   return e
			}
		},
		rProfile(e){
			this.$router.push({ path: `/${e}`})
		},
		rEvent(e){
			this.$router.push({ path: `/event/${e.uuid}`, params: { uuid: e.uuid, event: e }})
		},
		routeTo(e){
			if (this.user == 'False') {
				this.$router.push({name:'authorize'})
			}else{
				this.$router.push({name: e})
			}
		}
	}
}
</script>
<style type="text/css">
html, body { height:100%; width:100%; overflow: unset!important;}
.vue-map-container {
    position: unset!important;
}
a {
	text-decoration: none!important;
}
.image_blur {
    -webkit-filter: blur(50px);
    -moz-filter: blur(50px);
    -o-filter: blur(50px);
    -ms-filter: blur(50px);
    filter: blur(50px);
}
.mgl-map-wrapper, .mgl-map-wrapper, .mapboxgl-map {
    height: 100%!important;
    position: absolute!important;
    width: 100%!important;
}
.marker {
  background-size: cover;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  cursor: pointer;
}
.marker-1 {
  background-size: cover;
  border-radius: 50%;
  width: 50px;
  height: 50px;
  cursor: pointer;
}
.heading-2 {
	font-family: Staatliches!important;
	font-size: 1rem;
	margin-bottom: 30px;
	color: white;
}
.heading-3 {
	font-family: Staatliches!important;
	font-size: 3rem;
	margin-bottom: 30px;
	color: black;
} 
</style>