<template>
	<v-app style="background: black;">
		<v-overlay v-if="overlay">
		  <v-progress-circular indeterminate size="64"></v-progress-circular>
		</v-overlay>
		<navigation v-if="!overlay"></navigation>	
		<v-container fluid v-if="!overlay" class="mb-20">
			<div class="hidden-sm-and-down" style="margin-top: 66px;"></div>
			<div class="hidden-md-and-up" style="margin-top: 36px;"></div>
		  <v-row wrap justify=center>
		  	<v-col cols="12" sm="5" offet-sm="4" class="pa-0 " v-if="_.isEmpty(feed) && $route.name == 'post'">
		  		<post :post="post" :saved="saved" :tipped="tipped" :liked="liked" v-if="" index="i"></post>
		  	</v-col>
		    <v-col cols="12" sm="5" offet-sm="4" class="pa-0 " v-if="!_.isEmpty(feed)">
		    	<post :post="post" :saved="saved" :tipped="tipped" :liked="liked" v-if="$route.name == 'post'" index="i"></post>
		    	<post v-for="(post, i) in feed" :tipped="tipped" :post="post" :saved="saved" :liked="liked" :index="i"></post>
		    </v-col>
		    <v-col cols=12 sm="5" md="3" v-if="_.isEmpty(feed)">
		    	<p-list :user="user" :account="account" :profiles="profiles"></p-list>
		    </v-col>
		    <v-col cols="12" sm="3" class="hidden-md-and-down" v-if="!_.isEmpty(feed)">
		    	<p-list :user="user" :account="account" :profiles="profiles"></p-list>
		    </v-col>

		  </v-row>
		</v-container>
	</v-app>
</template>
<script>
import axios from 'axios'
import Cookies from 'js-cookie'	
import navigation from './components/Navigation'
import post from './components/Post'
import pList from './components/Plist'
export default {
	data: () => {
		return {
			overlay: true,
			account: null,
			// posts: []
		}
	},
	components: {
		navigation,
		post,
		pList
	},
	mounted(){
		this.$store.dispatch('getUser', {})
		this.$store.dispatch('getPublicProfiles', {})
		
	},
	computed: { 
		user(){
			return this.$store.state.user
		},
		profiles(){
			return this.$store.state.profiles
		},
		feed(){
			return this.$store.state.feed
		},
		saved(){
			return this.$store.state.saved
		},
		liked(){
			return this.$store.state.liked
		},
		tipped(){
			return this.$store.state.tipped
		},
		post(){
			return this.$store.state.post
		}
	},
	watch: {
		user(val){
			if (val == 'False') {
				this.$router.push({name:'authorize'})
			}else{
				if (this.$route.name == 'post') {
					this.$store.dispatch('getPost', this.$route.params.uuid)
				}
				this.$store.dispatch('getFeed', {})
				this.$store.dispatch('getSavedPosts', {})
				this.$store.dispatch('getLikedPosts', {})
				this.$store.dispatch('getTippedPosts', {})
				this.getProfile()
			}
		}
	},
	methods: {
		jsonParse(e){
		  return JSON.parse(e)
		},
		getProfile(){
		  var f = new FormData() 
		  f.append('username', this.user.username )
		  axios.post('getProfile', f, {headers: {
		      'Content-Type': 'multipart/form-data',
		      'X-CSRFToken': Cookies.get('csrftoken')}
		    }).then( (r) => { 
		      if(r.data != 'False'){
		        this.account = r.data.profile
		      }else{
		      	this.$router.push({name:'settings'})
		      }
		      this.overlay = false

		  }).catch( (error) => {
		      this.$emit('error', 'Looks like something went wrong')
		      this.loading = false
		  })
		}
	}
}

</script>
<style>
	.mt-10 {
		margin-top: 200px!important;
	}
	.alink {
		font-family: Staatliches!important;
		font-size: 0.9rem;
	}
	.staatliches {
		font-family: Staatliches!important;
	}
	.center-items{
		justify-content: center;
		align-items: center;
	}
	.feed-avatar {
		background-size: cover;
		width: 150px;
		height: 150px;
		border-radius: 50%;
		cursor: pointer;
	}
	.mb-20 {
		margin-bottom: 120px!important;
	}
</style>