<template>
	<div class="text-center">
		<v-avatar
		  size="120"
		>
		  <img
		    v-if="arrayFiles.length == 0 && profile !=null"
		    :src="`https://s3-us-west-1.amazonaws.com/xp.ciaobenga.com/media/public/${ jsonParse(profile.avatar).filename}`"

		    alt="Avatar"
		  >
		  <img
		    v-if="arrayFiles.length == 0 && profile ==null"
		    src="/static/xp.png"
		    alt="Avatar"
		  >
		  <img  v-if="arrayFiles.length != 0" @click="view=true,urlview=arrayFiles[0].src" :src="arrayFiles[0].src" alt="">
		</v-avatar>
		<div v-if="load">
			<v-progress-circular
			  indeterminate
			  size="28"
			  class=mt-2
			  color="primary"
			></v-progress-circular>
		</div>
		<div v-else>
			<v-btn icon small v-if="arrayFiles.length != 0" @click="upload">
			  <v-icon>mdi-check-outline</v-icon>
			</v-btn>
			<v-btn icon small v-else>
			  <v-icon>mdi-camera-outline</v-icon>
			  <input class="input-upload" ref="inputsx" accept="image/*" @change="multipleUploadx()" type="file" name="" value="">
			</v-btn>
		</div>

	</div>

</template>
<script>
import axios from 'axios'
import Cookies from 'js-cookie'
import { v4 as uuidv4 } from 'uuid'

export default {
	data: () => {
		return {
			images:[],
			filename: '',
			media: '',
			files: [],
			url:'',
			urlview:'',
			view:false,
			arrayFiles: [],
			fileList: [],
			imageIndex: 0,
			tab: null,
			load: false,
			uploads: []
		}
	},
	props: ['profile'],
	methods: {
		jsonParse(e){
		  return JSON.parse(e)
		},
		deleteItemImg(index){
		  let filesx = JSON.parse(JSON.stringify(this.fileList))
		  filesx.splice(index, 1);
		  this.arrayFiles.splice(index, 1);
		  this.images.splice(index, 1);
		  this.$emit('update:fileList', [this.images, this.imageIndex])	
		  // if (this.images.length == 0) {
		  // 	this.dialog = false
		  // }
		},
		multipleUploadx(e){
		  var preview = this.$refs.ulmultiple
		  var file = this.$refs.inputsx.files[0]
		  
		  var reader  = new FileReader();
		  var filesx = JSON.parse(JSON.stringify(this.fileList))
		  reader.onloadend =  ()=> {
		  	this.arrayFiles.splice(0,1)
		  	this.images.splice(0, 1)
		    this.arrayFiles.push({src:reader.result})
		    this.images.push({src:file})
		    filesx.push({file:file})
		    this.$emit('update:fileList', [this.images, this.imageIndex])
		  }

		  if (file) {
		    reader.readAsDataURL(file);
		  } else {
		    // preview.src = this.url;
		  }

		  // this.$refs.inputsx.value = ''
		  // this.$refs.inputsx_1.value = ''
		},

		upload(){
			this.load = true 

		  	var fd = new FormData()
		  	var blob = this.images[this.imageIndex].src
		  	var uuid = uuidv4()

		  	var str = blob.type.split('/')
		  	var fileName = uuid + '-' + this.imageIndex + '.' + str[1]


		  	var newFile = new File([blob], fileName, {type: blob.type})

		  	fd.append('file', newFile )
		  	fd.append('filename', fileName)

		    axios.post('api/files/', fd, { headers: {
		          'Content-Type': 'multipart/form-data',
		          'X-CSRFToken': Cookies.get('csrftoken')} 
		        }).then( (res) => {
		          this.uploads.push(res.data)
		          if (this.imageIndex+1 < this.images.length ) {
		            this.imageIndex++ 	            
		            this.upload()
		          }else{
		           this.load = false  
		           this.$emit('done', this.uploads)
		          }
		      }, () => {
		        console.log('oops')
		    })
		}
	}
}

</script>