<template>
  <v-app>
  	<v-overlay v-if="overlay">
  	  <v-progress-circular indeterminate size="64"></v-progress-circular>
  	</v-overlay>
    <v-card class="elevation-0" v-else>
      <v-app-bar fixed dark color="primary" style="border-radius: 0px;">
        <v-btn icon dark @click="$router.go(-1)">
          <v-icon>mdi-chevron-left</v-icon>
        </v-btn>
        <v-spacer></v-spacer>
        <v-toolbar-title>Settings</v-toolbar-title>
        <v-spacer></v-spacer>
        <v-btn icon dark @click="nullException">
          <v-icon>mdi-chevron-right</v-icon>
        </v-btn>
      </v-app-bar>

      <v-list three-line subheader style="margin-top: 60px!important" >
        <v-list-item>
          <v-list-item-content>
            <v-list-item-title class="staatliches">Avatar</v-list-item-title>
            <v-list-item-subtitle>
            	<avatar :profile="profile" @done="setAvatar"></avatar>
            </v-list-item-subtitle>
          </v-list-item-content>
        </v-list-item>

        <v-list-item>
          <v-list-item-content>
            <v-list-item-title class="text-left staatliches">Bio</v-list-item-title>
            <v-list-item-subtitle>
            	<v-textarea
            		v-model="bio"
            		:placeholder="(profile != null) ? profile.bio : ''"
            		solo
            		class="white--text elevation-0"
            		label="Tell us a bit about yourself "
      
            	></v-textarea>
            </v-list-item-subtitle>
          </v-list-item-content>
        </v-list-item>
        <v-list-item>
          <v-list-item-content>
            <v-list-item-title class="text-left staatliches">Privacy</v-list-item-title>
            <v-list-item-subtitle>
            	<privacy @done="setPrivacy" :userPrivacy="(profile!=null) ? profile.privacy : null"></privacy>
            </v-list-item-subtitle>
          </v-list-item-content>
        </v-list-item>
        <v-list-item>
          <v-list-item-content>
            <v-list-item-title class="text-left staatliches" >Birthday</v-list-item-title>
            <v-list-item-subtitle>
            	<v-menu
            	  ref="menu"
            	  v-model="menu"
            	  :close-on-content-click="false"
            	  transition="scale-transition"
            	  offset-y
            	  min-width="290px"
            	>
            	  <template v-slot:activator="{ on, attrs }">
            	    <v-text-field
            	      v-model="date"
            	      label="Birthday date"
            	      prepend-icon="mdi-calendar"
            	      readonly
            	      solo
            	      v-bind="attrs"
            	      v-on="on"
            	    ></v-text-field>
            	  </template>
            	  <v-date-picker
            	    ref="picker"
            	    v-model="date"
            	    color=primary
            	    :max="new Date().toISOString().substr(0, 10)"
            	    min="1950-01-01"
            	    @change="save"
            	  ></v-date-picker>
            	</v-menu>
            </v-list-item-subtitle>
          </v-list-item-content>
        </v-list-item>  
        <v-list-item v-if="profile != null && profile.stripe_key == 'none'">
          <v-list-item-content>
            <v-list-item-title class="text-left staatliches">Connect Stripe</v-list-item-title>
            <v-list-item-subtitle class="text-left">
              <!-- ca_Gtx5ZdPucwIlQRURQE4Z1ZVeuhNsC2io-->
              <a target="blank" href="https://connect.stripe.com/express/oauth/authorize?client_id=ca_Gtx5sCN6p04B37esYKqjko50UajOeR0D&state={STATE_VALUE}&suggested_capabilities[]=transfers&stripe_user[email]=">
                <img style="height: 40px;" src="/static/stripeConnect.png">
              </a>
            </v-list-item-subtitle>
          </v-list-item-content>
        </v-list-item>
        <v-list-item v-if="profile != null && profile.stripe_key != 'none'">
          <v-list-item-content>
            <v-list-item-title class="text-left staatliches">Stripe Dashboard</v-list-item-title>
            <v-list-item-subtitle class="text-left">
              <!-- ca_Gtx5ZdPucwIlQRURQE4Z1ZVeuhNsC2io-->
              <a target="blank" :href="url" >
                <img style="height: 40px;" src="/static/stripeConnect.png">
              </a>
            </v-list-item-subtitle>
          </v-list-item-content>
        </v-list-item>
      </v-list>
      <v-divider></v-divider>
      <v-list three-line subheader  class=text-left>
        <v-subheader>General</v-subheader>
        <v-list-item>
          <v-list-item-action>
            <v-checkbox v-model="location"></v-checkbox>
          </v-list-item-action>
          <v-list-item-content>
            <v-list-item-title>Location</v-list-item-title>
            <v-list-item-subtitle>Use my location to improve my feed preference</v-list-item-subtitle>
          </v-list-item-content>
        </v-list-item>	
        <!-- Bug Report -->
        <!-- Stripe Key -->
        <!-- Email Notifications -->
        <!-- Phone Notifications -->
        <!-- Password Reset -->
        <v-list-item :href="'logout'" v-if="profile != null">
          <v-list-item-content>
            <v-list-item-title>Logout</v-list-item-title>
            <v-list-item-subtitle>Logout of XP</v-list-item-subtitle>
          </v-list-item-content>
        </v-list-item>
        <v-snackbar :timeout="5000" bottom right v-model="alert" color="black" class="z-10">
              <p style="font-size: medium!important;margin-top:14px!important">{{message}}</p>
           <v-btn icon dark x-small @click.native="alert = false">
            <v-icon>mdi-close</v-icon>
           </v-btn> 
        </v-snackbar>
      </v-list>
    </v-card>
  </v-app>
</template>
<script>
import axios from 'axios'
import moment from 'moment'
import Cookies from 'js-cookie'
import privacy from './privacy'
import avatar from './avatar'

export default {
  data () {
    return {
      url: null,
      overlay: true,
      profile: null,
      date: null,
      menu: false,
      dialog: false,
      alert: false,
      location: false,
      bio: '',
      avatar: {filename: "969bcbb4-c8ff-496b-becc-6b609dbda1aa-0.gif", file: "https://xp.ciaobenga.com.s3.amazonaws.com/media/public/969bcbb4-c8ff-496b-becc-6b609dbda1aa-0.gif"},
      privacy: '',
      latitude: '',
      longitude: '',
      geocode: '',
      message: '',
      email: '',
      notifications: false,
      sound: true,
    }
  },
  components: {
  	avatar,
  	privacy
  },
  computed: {
    user(){
      return this.$store.state.user
    }
  },

  mounted(){
    this.$store.dispatch('getUser', {})
  },

  watch: {
  	user(val){
  		if (val == 'False' && this.$route.name == 'profile') {
  			this.$router.push({name:'authorize'})
  		}else{
  			this.getProfile()
  		}
  	},
  	menu (val) {
  	  val && setTimeout(() => (this.$refs.picker.activePicker = 'YEAR'))
  	},
  	location(x){
  		if (x == true) {
  			this.getCord()
  		}else{
  			this.longitude = ''
  			this.latitude = ''
  		}
  	},
  },

  methods: {
  	setAvatar(e){
  	  this.avatar = e[0]
  	},
  	setPrivacy(e){
  	  this.privacy = e.name
  	},
  	jsonParse(e){
  	  return JSON.parse(e)
  	},
  	getCord(){
  	  var startPos
  	  var geoSuccess = (position) => {
  	    startPos = position;
  	    this.latitude = startPos.coords.latitude
  	    this.longitude = startPos.coords.longitude
  	    this.reverseGeocode()
  	  }

  	  navigator.geolocation.getCurrentPosition(geoSuccess)
  	},

  	reverseGeocode(){
  		var fd = new FormData()
  		fd.append('lat', this.latitude)
  		fd.append('lng', this.longitude)

  		axios.post('reversegeocode', fd, { headers: {
  		      'Content-Type': 'multipart/form-data',
  		      'X-CSRFToken': Cookies.get('csrftoken')} 
  		    }).then( (res) => {
  		    	this.geocode = res.data.location
  		  }, () => {
  		    console.log('oops')
  		  })
  	},
  	save (date) {
  	  this.$refs.menu.save(date)
  	},
  	getProfile(){
  	  var f = new FormData() 
  	  f.append('username', this.user.username )
  	  axios.post('getProfile', f, {headers: {
  	      'Content-Type': 'multipart/form-data',
  	      'X-CSRFToken': Cookies.get('csrftoken')}
  	    }).then( (r) => { 
  	      if(r.data != 'False'){
  	        this.profile = r.data.profile
  	        this.avatar = this.jsonParse(r.data.profile.avatar)
  	        this.privacy = r.data.profile.privacy
  	        this.bio = r.data.profile.bio
  	        this.date = r.data.profile.DOB
  	        this.geocode = this.jsonParse(r.data.profile.location)
            if (r.data.profile.stripe_key !== 'none') {
              this.getStripeDashLink()
            }
  	      }
  	      this.overlay = false

  	  }).catch( (error) => {
  	      this.$emit('error', 'Looks like something went wrong')
  	      this.loading = false
  	  })
  	},
  	nullException(){
  		if (this.avatar == null || this.privacy == null || this.bio == null || this.date == null || this.location == null) {
  			this.alert = true
  			this.message = 'Are you sure you got everything?'
  		}else{
  			this.submit()
  		}
  	},
    getStripeDashLink(){
      axios.get('getStripeDashLink', {headers: {
            'X-CSRFToken': Cookies.get('csrftoken')}
        }).then( (r) => {
          this.url = r.data.url
      }).catch( (error) => {
          this.$emit('error', 'Looks like something went wrong')
          this.loading = false
      })
    },
  	submit(){
  	  var f = new FormData()
  	  this.overlay = true
  	  f.append('avatar', JSON.stringify(this.avatar))
  	  f.append('privacy', this.privacy)
  	  f.append('bio', this.bio)
  	  f.append('DOB', this.date)
  	  f.append('location', JSON.stringify(this.geocode))


  	  axios.post((this.profile != null) ? 'editProfile' :'createProfile', f, { headers: {
  	        'Content-Type': 'multipart/form-data',
  	        'X-CSRFToken': Cookies.get('csrftoken')} 
  	      }).then( (res) => {
  	      	this.overlay = false
  	        this.$router.push({ name: 'profile'})
  	    }, () => {
  	      console.log('oops')
  	  })
  	},
    editEmail(){
      var f = new FormData()
      f.append('username', this.user.username )
      f.append('email', this.email)
      axios.post('editUserEmail', f, {headers: {
        'Content-Type': 'multipart/form-data',
          'X-CSRFToken': Cookies.get('csrftoken')}
        }).then( (r) => {
          this.alert = true
          this.message = 'You have successfully changed your email!'
      }).catch( (error) => {
          this.$emit('error', 'Looks like something went wrong')
          this.loading = false
      })
    }
  }
}
</script>
<style>
	.staatliches {
		font-family: Staatliches!important;
	}
</style>