<template>
  <v-sheet
    class=""
    elevation="0"
    max-width="800"
  >
  	<h1 class="title text-left" style="font-family: Staatliches!important;"> {{ model.name }}</h1>
    <v-slide-group
      v-model="model"
      class="pa-4"
      show-arrows
    >
      <v-slide-item v-for="(type, i) in types" :key="i">
        <v-card :color="(model.name == type.name) ? 'primary' : 'grey lighten-1'" class="ma-4"
          height="200"
          width="100"
          @click="setType(type)"
        >
          <v-row
            class="fill-height"
            align="center"
            justify="center"
          >
            <v-scale-transition>
              <v-icon
                color="white"
                size="48"
                v-text="type.icon"
              ></v-icon>
            </v-scale-transition>
          </v-row>
        </v-card>
      </v-slide-item>
    </v-slide-group>
  </v-sheet>
</template>

<script>
  export default {
    data: () => ({
      model: {name:'friends', icon: 'mdi-account-multiple-outline'},
      types: [ {name:'friends', icon: 'mdi-account-multiple-outline	'}, {name: 'followers', icon: 'mdi-account-arrow-right-outline'}, {name: 'everyone', icon: 'mdi-account-group-outline'}]
    }),
    props: ['step', 'userPrivacy'],
    mounted(){
      this.model = this.types.find(obj => {
        return obj.name === this.userPrivacy
      })
    },
    methods: {
    	setType(e){
    		this.model = e
    		this.$emit('done', this.model)
    	}
    }
  }
</script>