<template>
	
	<!-- Add this where you want the Sign In button to show up -->
	<!-- To create a key, see https://github.com/pwa-builder/pwa-auth#creating-keys -->
	
	<!-- Step 2: Add the pwa-auth component to your page -->
	<!-- In this sample, we use appearance="list", which renders as a list of "Sign in with X" buttons -->
	<div class="text-xs-center">
		<div style="margin-top: 20px;">
			<pwa-auth 
			    appearance="list" 
			    googlekey="535371030919-i0fns6kc49ovit7cob0k7cbpste49ksk.apps.googleusercontent.com"
			    facebookkey="2508144102784908">
			</pwa-auth>
		</div>

	</div>

</template>
<script>
	var pwaauth = require("@pwabuilder/pwaauth")

	export default {
	  data: () => {
	  	return {
	  		email: null,
	  		name: null,
	  		imageUrl: null,
	  		provider: null,
	  		providerData: null,
	  	}
	  },
	  components: {
	    pwaauth
	  },

	  mounted(){
	  	const pwaAuth = document.querySelector("pwa-auth")
	  	pwaAuth.addEventListener("signin-completed", ev => {
	  	    const signIn = ev.detail
	  	    if (signIn.error) {
	  	        console.error("Sign in failed", signIn.error)
	  	    } else {
	  	        this.email = signIn.email
	  	        this.name = signIn.name
	  	       	this.imageUrl = signIn.imageUrl;
	  	        this.provider = signIn.provider;
	  	        this.provideData = signIn.providerData;
	  	    }
	  	});
	  }
	}
</script>

