<template>
  <v-container fluid>
    <v-row justify="center" align="center">
      <v-col cols="12">
        <v-text-field v-model="username"  class="white--text elevation-0" solo label="Username"></v-text-field>
      </v-col>
      <v-col cols="12" style="margin-top: -30px;">
        <v-text-field v-model="password" :append-icon="e1 ? 'mdi-eye' : 'mdi-eye-off'"
          :append-icon-cb="() => (e1 = !e1)" :type="e1 ? 'password' : 'text'" class="white--text elevation-0" solo label="Password"></v-text-field>
      </v-col>
      <div class="w-mx">
         <v-progress-circular
          indeterminate
          color="primary"
          v-if="loading"
          ></v-progress-circular>
      </div>  
      <v-col cols="12" v-if="!loading" style="margin-top: -30px;">
        <v-btn block color="black" class="mx-0 white--text" @click="submit">Continue</v-btn>
      </v-col>
      <v-col cols="12">
        <span>By signing up you are agreeing to our <a href="/static/policy.pdf" target="_blank">privacy policy</a> </span>
      </v-col>
    </v-row>
  </v-container>
</template>
<script>
import axios from 'axios'
import Cookies from 'js-cookie'

export default {
  props: [
    'checkout'
  ],
  data: () => ({
    e1:true,
    username: '',
    password: '',
    confirmPassword: '',
    loading: false, 
    emailRules: [
      v => {
        return !!v || 'E-mail is required'
      },
      v => /^\w+([.-]?\w+)*@\w+([.-]?\w+)*(\.\w{2,3})+$/.test(v) || 'E-mail must be valid'
    ]
  }),

  watch: {
    username(val){
      this.username = val.toLowerCase()
    }
  },

  methods: {
    submit(){
      var form = new FormData();
      this.loading = true
      form.append('username', this.username)
      form.append('password', this.password)
        axios.post('/login', form, {headers: {
            'Content-Type': 'multipart/form-data',
            'X-CSRFToken': Cookies.get('csrftoken')}
          }).then( (r) => {
          if(r.data == 'False'){
            this.$emit('error', 'Invalid Login Credentials')
            this.loading = false
          }else{
            //redirect to intended route
            //change authenticated state to true
            this.$emit('done', r.data) 
          }
        }).catch( (error) => {
          this.$emit('error', 'Looks like something went wrong')
          this.loading = false;
      })
    }
  }
}
</script>
<style>
  .input-group--solo  {
      background:white!important;
  }
  .input-group--solo .error--text input, textarea {
      caret-color: #ff5252 !important;
  }
  .input-group--solo input, textarea,  {
      color: black!important;
  }
  .input-group--solo label {
      color: grey!important;
  }
  .input-group--solo input:focus {
      color: black!important;
  }
  .w-mx {
    width: 100%!important;
  }
</style>