<template>
  <v-container grid-list-md>
    <v-layout row wrap>
      <v-flex xs12>
        <v-text-field v-model="username"  class="white--text elevation-0" solo label="Username"></v-text-field>
      </v-flex>
      <v-flex xs12>
        <v-text-field
          :rules="emailRules"
          v-model="email" 
          class="white--text elevation-0"
          solo
          label="Email address"
          hint="Enter your email!"
          persistent-hint
         
        ></v-text-field>
      </v-flex>
      <v-flex xs12> 
          <v-text-field v-model="password" :append-icon="e1 ? 'mdi-eye' : 'mdi-eye-off'"
          :append-icon-cb="() => (e1 = !e1)" :type="e1 ? 'password' : 'text'" class="white--text elevation-0" solo label="Password"></v-text-field>
      </v-flex> 
      <div class="w-mx">
         <v-progress-circular 
          indeterminate
          color="primary"
          v-if="loading"
          ></v-progress-circular>
      </div>
      <div class="text-xs-center w-mx" v-if="!loading">
        <v-btn block color="black" class="mx-0 white--text" @click="submit">Get started</v-btn>
      </div>
      <v-flex xs12>
        <span>By signing up you are agreeing to our <a href="/static/policy.pdf" target="_blank">privacy policy</a></span>
      </v-flex>
    </v-layout>
  </v-container>

</template>
<script>
import axios from 'axios'
import Cookies from 'js-cookie'

export default {
  props: [
    'checkout'
  ],
  data: () => ({
    e1:true,
    e2:true,
    username: '',
    email: null,
    password: '',
    confirmPassword: '',
    prevRoute: null,
    alert: false,
    loading: false,
    rData: null,
    emailRules: [ 
      v => {
        return !!v || 'E-mail is required'
      },
      v => /^\w+([.-]?\w+)*@\w+([.-]?\w+)*(\.\w{2,3})+$/.test(v) || 'E-mail must be valid'
    ]
  }),

  watch: {
    username(val){
      this.username = val.toLowerCase()
    }
  },

  methods: {
    //unique username 
    submit(){
      var form = new FormData();
      this.loading = true
      form.append('username', this.username)
      form.append('email', this.email)
      form.append('password', this.password) 
        axios.post('api/registration/', form, {headers: {
            'Content-Type': 'multipart/form-data',
            'X-CSRFToken': Cookies.get('csrftoken')}
          }).then( (r) => {
          if(r.data == 'False'){
            this.$emit('error', 'Username has already been taken')
            this.loading = false
          }else{
            //redirect to intended route
            //change authenticated state to true
            this.rData = r.data
            this.sendWelcomeEmail()
          }
        }).catch( (error) => {
          this.$emit('error', 'Looks like something went wrong')
          this.loading = false;
      })
    },

    sendWelcomeEmail(){
      var f = new FormData()
      f.append('username', this.username)
      f.append('email', this.email)
      axios.post('sendWelcomeEmail', f, {headers: {
          'Content-Type': 'multipart/form-data'}
        }).then( (r) => {
        if(r.data == 'False'){
          this.$emit('error', 'Username has already been taken')
          this.loading = false
        }else{
          //redirect to intended route
          //change authenticated state to true
          this.$emit('done', this.rData)
        }
      }).catch( (error) => {
        this.$emit('error', 'Looks like something went wrong')
        this.loading = false;
    })
    }
  }
}
</script>
<style>
  .input-group--solo  {
      background:white!important;
  }
  .input-group--solo .error--text input, textarea {
      caret-color: #ff5252 !important;
  }
  .input-group--solo input, textarea,  {
      color: black!important;
  }
  .input-group--solo label {
      color: grey!important;
  }
  .input-group--solo input:focus {
      color: black!important;
  }
  .w-mx {
    width: 100%!important;
  }
</style>