<template>
	<v-container fluid fill-height>
		<v-row class="center-items">
			<v-col md="4">
				<div class="text-xs-center" style="margin-bottom: 40px; margin-top: -80px;">
					<img src="/static/apple-icon.png" style="height: 100px;">
				</div>
				<p style="color: white;">You have successfully connected your Stripe Account</p>
			</v-col>
		</v-row>

	</v-container>
</template>
<script>
import axios from 'axios'
import Cookies from 'js-cookie'
export default {
	data: () => {
		return {
			StripeKey: null,
			alert: false,
			message: null,
		}
	},
	mounted(){
		this.getUrlVars()
	},
	methods: {
		getUrlVars() {
		    var vars = {};
		    var parts = window.location.href.replace(/[?&]+([^=&]+)=([^&]*)/gi, function(m,key,value) {
		        vars[key] = value;
		    });
		    this.StripeKey = vars.code
		    this.setStripeKey()
		},
		setStripeKey(){
			var f = new FormData()
			f.append('stripeKey', this.StripeKey)
			axios.post('/setStripeKey', f, { headers: {
			      'X-CSRFToken': Cookies.get('csrftoken')} 
			    }).then( (r) => {
			    	this.message = 'Stripe Key was set successfully!'
			    	this.alert = true
			  }, () => {
			    console.log('oops')
			 })
		}
	}
}
</script>