<template>
	<v-app>
      <v-container fluid fill-height>
      	<v-row class="center-items">
      		<v-col md="6">
      			<div class="text-xs-center" style="margin-bottom: 20px;">
      				<img src="/static/black.png" style="height: 100px;">
      			</div>
      			<p>Looks like you cancelled your purchase</p>
  				<div >
					    <router-link :to="{ name: 'home'}">
						    <v-btn icon>
						      <v-icon>mdi-home-outline</v-icon>
						    </v-btn>
						</router-link>
  				</div>
      			<v-img
      			  height="300"
      			  style="background-size: contain;"
      			  src="/static/cancel.gif"
      			></v-img>
      		</v-col>
      	</v-row>
      </v-container>
	</v-app>
</template>
