<template>
	<v-card
	  class="mx-auto"
	  outlined
	>
	  <v-list-item three-line>
	  	<v-list-item-avatar>
	  	  <v-img v-if="product.images[0]" :src="'https://s3-us-west-1.amazonaws.com/xp.ciaobenga.com/media/public/'+product.images[0].filename"></v-img>
          <v-icon v-else>{{product.type.icon}}</v-icon>
        </v-list-item-avatar>
	    <v-list-item-content>
	      <v-list-item-title class="headline mb-1 text-left" style="text-align: left;font-family: Staatliches!important;">{{ product.name }} </v-list-item-title>
	      <div class="overline mb-4 text-left" style="text-align: left;">
	      <v-icon>{{product.type.icon}}</v-icon>
	  	  </div>
	      <v-list-item-subtitle style="text-align: left;margin-left: 20px;">{{ product.description }}</v-list-item-subtitle>
	    </v-list-item-content>
	    <div >
	    	<span class="subheading mr-2">X {{count}}</span>
	    </div>
	  </v-list-item>
	  
	</v-card>
</template>
<script>
export default {
	props: ['product', 'count'],
}
</script>