<template>
	<v-container fill-height fluid>
	  <v-row align="center" justify="center" class="center-items">
	  	<v-col cols="12" md="6" v-if="order!=null">
	  		<div class="text-xs-center" style="margin-bottom: 40px;">
	  			<img src="/static/black.png" style="height: 100px;">
	  		</div>
	  		<p style="margin-bottom: 30px;">Congratulations, you have completed your purchase! Take a screenshot of the QR Code and have the merchant scan it to vendor your items. Until the QR Code is scanned, be sure to keep it private <v-icon small>mdi-eye</v-icon> </p>
	  		<products v-for="(item, i) in orderItems" :count="orderItemsObj[item]" :product="retriveItem(item)" :key="i"></products>
	  		<v-btn v-if="order.user == null" @click="checkUser" block class="mx-0 white--text btn-1">Save your {{XP}}XP</v-btn>
	  		<router-link :to="{ name: 'home'}" v-else class="my-2" >
	  			<v-btn depressed block>Proceed</v-btn>
	  		</router-link>

	  			<qrcode-vue style="margin-top: 20px!important;" :width="200" :value="$route.params.session" :size="size" level="H" ></qrcode-vue>
	  	</v-col> 
	  	<!-- SHOW PRECISE EVENT LOCATION -->
	  </v-row>
	  <v-snackbar :timeout="5000" bottom right v-model="alert" color="black" class="z-10">
	       <p style="font-size: small!important;">{{message}}</p> 
	     <v-btn flat small color="white" @click.native="alert = false">Close</v-btn>
	  </v-snackbar>
	</v-container>
</template> 
<script>
import axios from 'axios'
import Cookies from 'js-cookie'	
import QrcodeVue from 'qrcode.vue'
import products from './products'

export default {
	data: () => {
		return {
			value: '',
			size: 200,
			order: null,
			loading: true,
			message: null,
			alert: false,
			orderItemsObj: {},
		}
	},

	components: {
	  QrcodeVue,
	  products,
	},

	mounted(){
		this.$store.dispatch('getUser', {})
	},

	created(){ 
		this.getOrder()
	},

	computed: {
		orderItems(){
			const arr = this.jsonParse(this.order.items)
			var result = {}
			arr.forEach(function(x){
				result[x.name] = (result[x.name] || 0)+1
			})
			this.orderItemsObj = result
			return Object.keys(result)
		},
		user(){
			return this.$store.state.user
		},
		session: {
			get () {
				return this.$store.state.session
			},
			set (value) {
				this.$store.commit('SET_SESSION', value)
			}
		},
		XP: {
			get () {
				return this.$store.state.XP
			},
			set (value) {
				this.$store.commit('SET_XP', value)
			}
		} 
	},

	methods: {
		getOrder(){
			var f = new FormData()
 			
			f.append('session', this.$route.params.session)

		    axios.post('/success', f, { headers: {
		          'X-CSRFToken': Cookies.get('csrftoken')} 
		        }).then( (r) => {
		        	this.order = r.data
		        	if (r.data.user == null) {
		        		this.session = r.data
		        		this.XP = this.jsonParse(r.data.items).length * 1000
		        	}else{
		        		this.message = 'This order has already been assigned'
		        		this.alert = true
		        	}
		      }, () => {
		        console.log('oops')
		    })
				
		},
		jsonParse(e){
		  return JSON.parse(e)
		},
		retriveItem(e){
			const arr = this.jsonParse(this.order.items)
			var item = arr.find(obj => {
			  return obj.name == e
			})
			return item 
		},
		checkUser(){
			if (this.user == 'False') {
				this.$router.push('/authorize')
			}else{
				this.attachUser()
			}
		},
		attachUser(){
			var f = new FormData()
			f.append('session', this.$route.params.session)
			axios.post('/attachOrderUser', f, { headers: {
			      'X-CSRFToken': Cookies.get('csrftoken')} 
			    }).then( (r) => {
			    	this.$router.push({name:'profile'})
			  }, () => {
			    console.log('oops')
			})
		}
	}
}
</script>
<style>
	.btn-1 {
		background-color: rgb(0,0,0); margin-bottom: 20px;color: white;
	}
</style>