<template>
    <div class="con-multiple-upload"> 
        <ul ref="ulmultiple" class="con-multiples-imgs">
          <li v-for="file,index in arrayFiles" class="con-imgs">
            <div @click="deleteItemImg(index)" class="x-img">
              <v-icon>mdi-close</v-icon>
            </div> 
            <img @click="view=true,urlview=file.src" :ref="'vs'+index" :src="file.src" alt="">
          </li>
          <li class="agregarx elevation-1" v-if="images.length < limit">
            <input class="input-upload" style="z-index: 9999;" ref="inputsx" accept="image/*" @change="multipleUploadx()" type="file" name="" value="">
          </li>
        </ul>
  </div>
</template> 
<script>
	export default {
		data (){
			return {
				images:[],
				filename: '',
				media: '',
				files: [],
				url:'',
				urlview:'',
				view:false,
				arrayFiles: [],
				fileList: [],
				imageIndex: 0,
			}
		},

		props: ['limit'],

		methods: {
			deleteItemImg(index){
			  let filesx = JSON.parse(JSON.stringify(this.fileList))
			  filesx.splice(index, 1);
			  this.arrayFiles.splice(index, 1);
			  this.images.splice(index, 1);
			  this.$emit('update:fileList', [this.images, this.imageIndex])	
			},

			multipleUploadx(e){
			  var preview = this.$refs.ulmultiple
			  var file    = this.$refs.inputsx.files[0]
			  var reader  = new FileReader();
			  var filesx = JSON.parse(JSON.stringify(this.fileList))
			  reader.onloadend =  ()=> {
			    this.arrayFiles.push({src:reader.result})
			    this.images.push({src:file})
			    filesx.push({file:file})
			    this.$emit('update:fileList', [this.images, this.imageIndex])
			  }

			  if (file) {
			    reader.readAsDataURL(file);
			  } else {
			    // preview.src = this.url;
			  }

			  this.$refs.inputsx.value = ''
			},
		}
	}
</script>
