<template>

    <v-bottom-navigation
      scroll-target="#scroll-area-1"
      hide-on-scroll
      style="background: black;"
      dark
      absolute
      horizontal
    >
	    <v-btn icon dark :to="{ name: 'verify'}">
	    	<v-icon>mdi-barcode-scan</v-icon>
	    </v-btn>
	
		<v-btn icon :to="{ name: 'profile'}">
		  <v-icon dark>mdi-account-outline</v-icon>
		</v-btn>

<!-- 		<v-btn icon :to="{ name: 'createEvents'}">
		  <v-icon dark>mdi-plus-box-outline</v-icon>
		</v-btn>
	 -->
	    <v-btn icon dark  :to="{ name: 'dashboard'}">
	    	<v-icon>mdi-view-dashboard-outline</v-icon>
	    </v-btn>
    	<v-btn icon @click.stop="settingsDrawer = true">
    	  <v-icon dark>mdi-tune</v-icon>
    	</v-btn>
    	<v-dialog v-model="settingsDrawer" fullscreen hide-overlay absolute transition="dialog-bottom-transition">	      
		   <Settings @done="settingsDrawer = false"></Settings>
		</v-dialog>
    </v-bottom-navigation>
</template>
<script>
	import Settings from './Settings'
	export default {
		data: () => {
			return {
				settingsDrawer: false,
			}
		},
		components: {
			Settings
		}
	}
</script>