<template>
	<v-list two-line nav>
		 <v-subheader class="custom-header">LEADERBOARD</v-subheader>
		<v-list-item
		  v-for="(item, i) in items"
		  :key="item.title"
		  @click=""
		>
		  <v-list-item-avatar>
		   <v-btn color="primary" fab small dark>
		     {{ i+1 }}
		   </v-btn>
		  </v-list-item-avatar>

		  <v-list-item-content >
		    <v-list-item-title style="text-align: left!important;margin-left: 10px;" v-text="item.title"></v-list-item-title>
		    <v-list-item-subtitle style="text-align: left!important;margin-left: 10px;" v-text="item.subtitle"></v-list-item-subtitle>
		  </v-list-item-content>

		  <v-list-item-avatar>
		    <v-img :src="item.avatar"></v-img>
		  </v-list-item-avatar>

		</v-list-item>
	</v-list>
</template>
<script>
export default {
	data: () => ({
	  items: [
	    { active: true, title: 'Jason Oner', subtitle: 'LV10', avatar: 'https://cdn.vuetifyjs.com/images/lists/1.jpg' },
	    { active: true, title: 'Ranee Carlson', subtitle: 'LV9',  avatar: 'https://cdn.vuetifyjs.com/images/lists/2.jpg' },
	    { title: 'Cindy Baker', subtitle: 'LV7', avatar: 'https://cdn.vuetifyjs.com/images/lists/3.jpg' },
	    { title: 'Ali Connors', subtitle: 'LV6', avatar: 'https://cdn.vuetifyjs.com/images/lists/4.jpg' },
	    { title: 'Travis Howard', subtitle: 'LV4', avatar: 'https://cdn.vuetifyjs.com/images/lists/5.jpg' },
	  ]
	})
}
</script>
<style>
	.custom-header {
		font-family: Staatliches!important;
	    font-size: 2em!important;
	}
</style>