<template>
	<div>
	    <v-toolbar
	      flat
	      color="black"
	    >
		    <v-btn icon dark  @click="routeTo('search')">
		      <v-icon>mdi-magnify</v-icon>
		    </v-btn>
	     <v-spacer></v-spacer>
	     <v-btn icon>
	     	<img src="/static/apple-icon.png" style="height: 40px;"></img>
	     </v-btn>
	     <v-spacer></v-spacer>
 
 	    <v-btn icon dark  @click="routeTo('profile')">
 	      <v-icon>mdi-account-outline</v-icon>
 	    </v-btn>
	    </v-toolbar>

		<v-overlay
		  :absolute="absolute"
		  :value="navOverlay"
		  :opacity="0.95"
		>
		  <v-container fluid fill-height>
		    <v-row class="center-items">
		      <v-col>
		      	  <v-btn icon @click="navOverlay = false">
		      	    <v-icon>mdi-close</v-icon>
		      	  </v-btn>
		      	  <v-tabs vertical v-model="tab" background-color="transparent" icons-and-text>

		      	  <v-tab v-for="(type, i) in types" @click='routeTo(type.slug)'>
		      	    {{ type.name }}
		      	    <v-icon>{{ type.icon }}</v-icon>
		      	  </v-tab>
		      	</v-tabs>
		      </v-col> 
		    </v-row>
		  </v-container>
		</v-overlay>
   
    	<v-dialog v-model="settingsDrawer" fullscreen hide-overlay absolute transition="dialog-bottom-transition">	      
		   <Settings @done="settingsDrawer = false"></Settings>
		</v-dialog>

		</v-navigation-drawer>
	</div>

</template>
<script>
import Leaderboard from './Leaderboard'
import Settings from './Settings'

export default {
	data: () => ({
	  absolute: true,
	  drawer: false,
	  settingsDrawer: false,
	  navOverlay: false,
	  searchDialog: false,
	  opacity: 1,
	  overlay: false,
	  zIndex: 99999,
	  tab: null,
	  types: [ {name: 'home', slug:'home', icon: 'mdi-home'}, {name: 'create', slug:'createEvents', icon: 'mdi-plus-box-outline'}, {name:'verify', slug:'verify', icon: 'mdi-barcode-scan'}, {name: 'profile', slug:'profile', icon: 'mdi-account-outline'}, {name: 'dashboard', slug:'dashboard', icon: 'mdi-view-dashboard-outline'},{ name: 'settings', slug:'settings', icon: 'mdi-tune'}]
	}),
	components: {
		Leaderboard,
		Settings
	},

	mounted() {
	  this.$store.dispatch('getUser', {})
	},

	computed: { 
		user(){
			return this.$store.state.user
		}
	},

	methods: {
		routeTo(e){
			if (this.user == 'False') {
				this.$router.push({name:'authorize'})
			}else{
				this.$router.push({name: e})
			}
		}
	}
}
</script>