<template>
	<v-autocomplete
		v-model="model"
		:items="items"
		chips
		clearable
		hide-details
		hide-selected
		item-text="name"
		item-value="symbol"
		label="Search for a person or a place..."
		solo
	>
	 <template v-slot:no-data>
	   <v-list-item>
	     <v-list-item-title>
	       Search for your favorite <strong>person</strong> or
	       <strong>place</strong>
	     </v-list-item-title>
	   </v-list-item>
	 </template>
	  <template v-slot:selection="{ attr, on, item, selected }">
	    <v-chip
	      v-bind="data.attrs"
	      :input-value="data.selected"
	      close
	      @click:close="remove(data.item)"
	    >
<!-- 	      <v-avatar left>
	        <v-img :src="data.item.avatar"></v-img>
	      </v-avatar> -->
	      {{ data.item.name }}
	    </v-chip>
	  </template>
	  <template v-slot:item="data">
<!-- 	      <v-list-item-avatar>
	        <img :src="data.item.avatar">
	      </v-list-item-avatar> -->
	      <v-list-item-content>
	        <v-list-item-title v-html="data.item.name"></v-list-item-title>
	        <v-list-item-subtitle v-html="data.item.group"></v-list-item-subtitle>
	      </v-list-item-content>
	  </template>
	</v-autocomplete>
</template>
<script>
export default {
	data: () => ({
	  isLoading: false,
	  items: [],
	  model: null,
	  search: null,
	  tab: null,
	}),

	mounted() {
	  this.$store.dispatch('getUsers', {})
	},

	computed: { 
		users(){
			return this.$store.state.users
		}
	},

	watch: {
		users(val){
			this.items = val
		}
	}
}
</script>