<template>
  <v-app>
    <v-card class="elevation-0">
      <v-toolbar dark color="primary">
        <v-btn icon dark :to="{name: 'home'}">
          <v-icon>mdi-chevron-left</v-icon>
        </v-btn>
        <v-toolbar-title>Settings</v-toolbar-title>
        <v-spacer></v-spacer>
      </v-toolbar>
      <v-list three-line subheader  class=text-left>
        <v-subheader>User Controls</v-subheader>
        <v-list-item>
          <v-list-item-content>
            <v-list-item-title>Email Address</v-list-item-title>
            <v-list-item-subtitle>
              <v-text-field
                :rules="emailRules"
                v-model="email" 
                class="white--text elevation-0"
                solo
                label="Email address"
                hint="Edit your email address!"
                persistent-hint
               
              ></v-text-field>
              <div class="align-left" v-if="email">
                  <v-btn color="primary" block  @click="editEmail">Continue</v-btn>
              </div>
            </v-list-item-subtitle>
          </v-list-item-content>
        </v-list-item>
        <v-list-item>
          <v-list-item-content>
            <v-list-item-title>Password</v-list-item-title>
            <v-list-item-subtitle>Require password for purchase or use password to restrict purchase</v-list-item-subtitle>
          </v-list-item-content>
        </v-list-item>
      </v-list>
      <v-divider></v-divider>
      <v-list three-line subheader  class=text-left>
        <v-subheader>General</v-subheader>
        <v-list-item>
          <v-list-item-action>
            <v-checkbox v-model="notifications"></v-checkbox>
          </v-list-item-action>
          <v-list-item-content>
            <v-list-item-title>Notifications</v-list-item-title>
            <v-list-item-subtitle>Notify me about updates to apps or games that I downloaded</v-list-item-subtitle>
          </v-list-item-content>
        </v-list-item>
        <v-list-item>
          <v-list-item-action>
            <v-checkbox v-model="sound"></v-checkbox>
          </v-list-item-action>
          <v-list-item-content>
            <v-list-item-title>Sound</v-list-item-title>
            <v-list-item-subtitle>Auto-update apps at any time. Data charges may apply</v-list-item-subtitle>
          </v-list-item-content>
        </v-list-item>
        <v-list-item>
          <v-list-item-action>
            <v-checkbox v-model="widgets"></v-checkbox>
          </v-list-item-action>
          <v-list-item-content>
            <v-list-item-title>Auto-add widgets</v-list-item-title>
            <v-list-item-subtitle>Automatically add home screen widgets</v-list-item-subtitle>
          </v-list-item-content>
        </v-list-item>
        <v-list-item :href="'logout'">
          <v-list-item-content>
            <v-list-item-title>Logout</v-list-item-title>
            <v-list-item-subtitle>Logout of XP</v-list-item-subtitle>
          </v-list-item-content>
        </v-list-item>
        <v-snackbar :timeout="5000" bottom right v-model="alert" color="black" class="z-10">
              <p style="font-size: small!important;">{{message}}</p>
           <v-btn flat color="white" @click.native="alert = false">Close</v-btn>
        </v-snackbar>
      </v-list>
    </v-card>
  </v-app>
</template>
<script>
import axios from 'axios'
import Cookies from 'js-cookie'

export default {
  data () {
    return {
      dialog: false,
      alert: false,
      message: '',
      email: '',
      changedEmail: false,
      notifications: false,
      sound: true,
      widgets: false,
      emailRules: [ 
        v => {
          return !!v || 'E-mail is required'
        },
        v => /^\w+([.-]?\w+)*@\w+([.-]?\w+)*(\.\w{2,3})+$/.test(v) || 'E-mail must be valid'
      ]
    }
  },
  computed: {
    user(){
      return this.$store.state.user
    }
  },

  mounted(){
    this.$store.dispatch('getUser', {})
  },

  watch: {
    user(val){
      this.email = val.email
    }
  },

  methods: {
    editEmail(){
      var f = new FormData()
      f.append('username', this.user.username )
      f.append('email', this.email)
      axios.post('editUserEmail', f, {headers: {
        'Content-Type': 'multipart/form-data',
          'X-CSRFToken': Cookies.get('csrftoken')}
        }).then( (r) => {
          this.alert = true
          this.message = 'You have successfully changed your email!'
      }).catch( (error) => {
          this.$emit('error', 'Looks like something went wrong')
          this.loading = false
      })
    }
  }
}
</script>