<template>
	<v-app dark>
	  <v-card flat>
	    <v-app-bar
	      flat
	      height=46
	      class=mb-5
	      fixed
	      style="box-shadow:rgba(255, 255, 255, 0.26) 0px 1px 20px 1px;"
	      color="black"
	    >
		    <v-btn icon dark small @click="$router.go(-1)">
		      <v-icon>mdi-chevron-left</v-icon>
		    </v-btn>
	     <v-spacer></v-spacer>
	     <router-link :to="{ name: 'home'}">
		     <v-btn icon >
		     	<img src="/static/apple-icon.png" style="height: 30px;" elevation="1"></img>
		     </v-btn>
	 	 </router-link>
	     <v-spacer></v-spacer>
         <router-link :to="{ name: 'profile'}">
     	    <v-btn icon dark small>
     	    	<v-icon>mdi-account-outline</v-icon>
     	    </v-btn>
     	</router-link>
	    </v-app-bar>
	    	<v-container fluid style="margin-top: 60px;">
	    	<v-autocomplete
	    		:search-input.sync="search"
	    		:items="items"
	    		chips
	    		clearable
	    		hide-details
	    		hide-selected
	    		item-text="username"
	    		item-value="symbol"
	    		label="Search for a person or a place..."
	    		solo
	    	>
	    	 <template v-slot:no-data>
	    	   <v-list-item>
	    	     <v-list-item-title>
	    	       Search for your favorite <strong>person</strong> or
	    	       <strong>place</strong>
	    	     </v-list-item-title>
	    	   </v-list-item>
	    	 </template>
	    	  <template v-slot:selection="{ attr, on, item, selected }">
	    	    <v-chip
	    	      v-bind="data.attrs"
	    	      :input-value="data.selected"
	    	      close
	    	      @click:close="remove(data.item)"
	    	    >
	    <!-- 	      <v-avatar left>
	    	        <v-img :src="data.item.avatar"></v-img>
	    	      </v-avatar> -->
	    	      {{ data.item.username }}
	    	    </v-chip>
	    	  </template>
	    	  <template v-slot:item="data" >
	    <!-- 	      <v-list-item-avatar>
	    	        <img :src="data.item.avatar">
	    	      </v-list-item-avatar> -->
	    	      <v-list-item-content v-if="results"  @click="rUser(data.item.username)">
	    	        <v-list-item-title style="text-align: left;" v-html="data.item.username"></v-list-item-title>
	    	        <v-list-item-subtitle v-html="data.item.group"></v-list-item-subtitle>
	    	      </v-list-item-content>
	    	  </template>
	    	</v-autocomplete>
	    	<div class="text-xs-center" style="margin-bottom: 40px;">
	    		<img src="/static/search.gif" style="height: 100px;">
	    	</div>
	    	<div>
	    	  <h1 class="heading" style="font-family: Quicksand;line-height: 50px;">Search for your favorite <strong>person</strong> or
	    	       <strong>place</strong></h1>
	    	</div>
<!-- 	    	<masonry
	    	  :cols="{default: 4, 1000: 3, 700: 2, 400: 1}"
	    	  :gutter="0"
	    	  >
	    	  	<img
	    	  	  v-for="(item, index) in 21" :key="index"
	    	  	  class="mt-0 mb-0"
	    	  	  style="width: 100%;margin-top: -5px;"
	    	  	  src="https://cdn.vuetifyjs.com/images/cards/mountain.jpg"
	    	  	></img>
	    	</masonry> -->
	    	</v-container>
	    </v-card>
	</v-app>
</template>
<script>
export default {
	data: () => ({
	  isLoading: false,
	  items: [],
	  model: null,
	  search: "",
	  tab: null,
	  results: false
	}),

	mounted() {
	  	this.$store.dispatch('getUsers', {})
	},

	computed: { 
		users(){
			return this.$store.state.users
		}
	},

	watch: {
		users(x){
			this.items = x
		},
		search(x){
			if (x == null) {
				this.results = false
			}else{
				this.results = true
			}
		}
	}, 

	methods: {
		rUser(e){
			this.$router.push({ path: `/u/${e}`})
		}
	}
}
</script>
<style>
	.center-items {
		height:100vh;
	    display:flex;
	    align-items:center;
	    justify-content:center;
	}
</style>