<template>
	<v-app>
	    <v-app-bar
	      flat
	      height=46
	      class=mb-5
	      fixed
	      style="box-shadow:rgba(255, 255, 255, 0.26) 0px 1px 20px 1px;"
	      color="black"
	    >
		    <v-btn icon dark small @click="$router.go(-1)">
		      <v-icon>mdi-chevron-left</v-icon>
		    </v-btn>
	     <v-spacer></v-spacer>
	     <router-link :to="{ name: 'home'}">
		     <v-btn icon >
		     	<img src="/static/apple-icon.png" style="height: 30px;" elevation="1"></img>
		     </v-btn>
	 	 </router-link>
	     <v-spacer></v-spacer>
         <router-link :to="{ name: 'profile'}">
     	    <v-btn icon dark small>
     	    	<v-icon>mdi-account-outline</v-icon>
     	    </v-btn>
     	</router-link>
	    </v-app-bar>
	      <v-container fluid fill-height>
	      	<v-row class="center-items">
	      		<v-col md="6">
	      			<div class="text-xs-center" style="margin-bottom: 20px;">
	      				<img src="/static/black.png" style="height: 100px;">
	      			</div>
	      			<p>Sorry, we couldn't find the page you're looking for</p>
	      		</v-col>
	      	</v-row>
	      </v-container>
	    </v-card>
	  </v-card>
	</v-app>
</template>
