<template>
	<v-app style="background-color: black;">
	  <v-card flat dark style="background: black;">
	    <v-toolbar
	      flat
	      color="black"
	    >
	    <router-link :to="{ name: 'search'}">
		    <v-btn icon dark>
		      <v-icon>mdi-magnify</v-icon>
		    </v-btn>
		  </router-link>
	     <v-spacer></v-spacer>
       <router-link :to="{ name: 'home'}">
  	     <v-btn icon>
  	     	<img src="/static/apple-icon.png" style="height: 40px;"></img>
  	     </v-btn>
       </router-link>
	     <v-spacer></v-spacer>
         <router-link :to="{ name: 'createEvents'}">
     	    <v-btn icon dark>
     	      <v-icon>mdi-plus-box-outline</v-icon>
     	    </v-btn>
     	</router-link>
	    </v-toolbar>
	    <div v-if="!computed">
<!-- 	    	<p class="error">{{ error }}</p>

	    	<p class="decode-result">VERIFY <b>{{ result }}</b></p>
 -->
	    	<qrcode-stream style="height: 320px; width: 100%;"  @decode="onDecode" @init="onInit" />
	    	
	    		<h1 class="heading-1 white--text" style="margin-top: 20px;margin-bottom: 10px;">SCAN QR CODE</h1>
	    		<v-icon x-large>mdi-barcode-scan</v-icon>
	    		<p class="pa-4">Easily verfiy orders by scanning qr codes</p>
	    </div>
	    </v-card>
	  </v-card>
      <v-dialog v-model="dialog" fullscreen hide-overlay absolute transition="dialog-bottom-transition">        
       <orderDialog @done="dialog = false" :order="order" @vendored="updateOrder()"></orderDialog>
    </v-dialog>
	</v-app>
  </div> 
</template>

<script>
import { QrcodeStream } from 'vue-qrcode-reader'
import axios from 'axios'
import Cookies from 'js-cookie' 
import orderDialog from './order'

export default {
  data () {
    return {
      result: '',
      error: '',
      computed: false,
      order: {},
      dialog: false,
    }
  },

  components: { QrcodeStream, orderDialog },

  mounted(){
  	this.$store.dispatch('getUser', {})
  },

  watch: {
  	user(val){
  		if (val == 'False') {
  			this.$router.push({name:'authorize'})
  		}
  	},
  	result(val){
  		this.getOrder(val)
  	}
  },


  computed: {
  	user(){
  		return this.$store.state.user
  	},
  },


  methods: {
    onDecode (result) {
      this.result = result
    },

    getOrder(val){ 
      var f = new FormData()
        
      f.append('session_id', val)

      axios.post('/vieworder', f, { headers: {
            'X-CSRFToken': Cookies.get('csrftoken')} 
          }).then( (r) => {
            if (r.data.owner) {
                this.order = r.data.order
                this.dialog = true
            }else{
              this.$router.push({ path: `/event/${r.data.event.uuid}` })
            }
        }, () => {
          console.log('oops')
      })
    },

    updateOrder(eve){
      this.order = eve
    },

    async onInit (promise) {
      try {
        await promise
      } catch (error) {
        if (error.name === 'NotAllowedError') {
          this.error = "ERROR: you need to grant camera access permisson"
        } else if (error.name === 'NotFoundError') {
          this.error = "ERROR: no camera on this device"
        } else if (error.name === 'NotSupportedError') {
          this.error = "ERROR: secure context required (HTTPS, localhost)"
        } else if (error.name === 'NotReadableError') {
          this.error = "ERROR: is the camera already in use?"
        } else if (error.name === 'OverconstrainedError') {
          this.error = "ERROR: installed cameras are not suitable"
        } else if (error.name === 'StreamApiNotSupportedError') {
          this.error = "ERROR: Stream API is not supported in this browser"
        }
      }
    }
  }
}
</script>

<style>
.error {
  font-weight: bold;
  color: red;
}
.v-dialog {
  background: white!important;
}
</style>