<template>
	<v-container fill-height fluid>
	  <v-alert
	  	v-model="alert"
	    dense
	    text
	    dismissible
	    icon="mdi-check"
	    transition="scale-transition"
	    type="success"
	  >
	   You have <strong>successfully</strong> vendored the <strong>item</strong>
	  </v-alert>
	  <v-row align="center" justify="center" class="center-items">
	  	<v-col cols="12" md="6" v-if="order!=null">
	  		<div class="text-xs-center" style="margin-bottom: 40px;">
	  			<img src="/static/black.png" style="height: 100px;">
	  		</div>
	  		<p style="margin-bottom: 30px;">You have successfully scanned the QR Code.  <v-icon small>mdi-eye</v-icon> </p>
	  		<h3 class="heading" style="font-size: 50px;">${{ getCurr(order.amount) }}</h3>
	  		<p>TOTAL</p>
	  		<products v-for="(item, i) in orderItems" :count="orderItemsObj[item]" :product="retriveItem(item)" :key="i"></products>
	  		<v-btn v-if="order.vendored == 'false'" @click="vendor" block class="mx-0 btn-1">Vendor</v-btn>
	  		<v-btn depressed block v-else @click="$emit('done')">Vendored</v-btn>


	  	</v-col> 
	  	<!-- SHOW PRECISE EVENT LOCATION -->
	  </v-row>
	</v-container>
</template> 
<script>
import axios from 'axios'
import Cookies from 'js-cookie'	
import products from './products'

export default {
	data: () => {
		return {
			alert: false,
			value: '',
			size: 200,
			loading: true,
			message: null,
			alert: false,
			orderItemsObj: {},
		}
	},

	props: ['order'],

	components: {
	  products,
	},


	computed: {
		orderItems(){
			const arr = this.jsonParse(this.order.items)
			var result = {}
			arr.forEach(function(x){
				result[x.name] = (result[x.name] || 0)+1
			})
			this.orderItemsObj = result
			return Object.keys(result)
		}
	},

	methods: {
		getCurr(e){
			var start = e.substring(0, e.length-2)
			var end = e.substring(e.length - 2, e.length)
			return start.concat('.', end)
		}, 
		jsonParse(e){
		  return JSON.parse(e)
		},
		retriveItem(e){
			const arr = this.jsonParse(this.order.items)
			var item = arr.find(obj => {
			  return obj.name == e
			})
			return item 
		},
		vendor(){
			var f = new FormData()

			f.append('session_id', this.order.session_id)

			axios.post('/vendor', f, { headers: {
			      'X-CSRFToken': Cookies.get('csrftoken')} 
			    }).then( (r) => {
			    	this.alert = true
			    	this.$emit('done', r.data)
			  }, () => {
			    console.log('oops')
			})
		}
	}
}
</script>
<style>
	.btn-1 {
		background-color: rgb(0,0,0); margin-bottom: 20px;color: white;
	}
</style>