<template>
  <div id="app">

    <router-view :key="$route.fullPath" class="mb-5"/>
    <!-- <pwa-install showopen manifestpath="/manifest.json" style="background: black!important;">Install</pwa-install> -->
    <v-alert
      prominent
      color=white
      dark
      dense
      class="btm-al"
    >
      <v-row align="center">
        <v-col class="grow" style="font-size: medium;!important;padding: 5px;">Add XP to your home screen&nbsp;&nbsp;&nbsp;&nbsp;
          <span>
          <a target="blank" @click="dialog = true" style="float: right;font-size: medium;!important;color: lightblue;" color="blue">
            <v-btn icon small>
              <v-icon>mdi-information-outline</v-icon>
            </v-btn>
          </a>
        </span>
        </v-col>
      </v-row>
    </v-alert>
    <v-dialog v-model="dialog" max-width="600px">
      <v-card>
        <v-card-title>
          <v-tabs v-model="tab">
            <v-tab href="#tab-1">Android</v-tab>
            <v-tab href="#tab-2">IOS</v-tab>
            <v-tab href="#tab-3">Windows/Mac</v-tab>
          </v-tabs>
        </v-card-title>

        <v-card-text></v-card-text>
        <v-tabs-items v-model="tab">
          <v-tab-item :value="'tab-1'">
            <v-card flat>
              <v-card-text>With the vast majority of Android devices, installing a PWA is as simple as tapping the three-dot overflow menu in the top-right corner and then select ‘Add to home screen.’</v-card-text>
            </v-card>
          </v-tab-item>
          <v-tab-item :value="'tab-2'">
            <v-card flat>
              <v-card-text>Tap the ‘Share’ button, scroll down and tap ‘Add to Home Screen.’ Then tap add. The PWA will show up on your home screen like a native iOS app.</v-card-text>
            </v-card>
          </v-tab-item>
          <v-tab-item :value="'tab-3'">
            <v-card flat>
              <v-card-text>On desktop, Google Chrome will display a ‘+’ symbol on the right side of the address bar next to the bookmark button when you visit a site that supports PWA. Edge users can click the three-dot menu button and select ‘Apps.’</v-card-text>
            </v-card>
          </v-tab-item>
        </v-tabs-items>
        <v-card-actions>
          <v-spacer></v-spacer>

        </v-card-actions>
      </v-card>
    </v-dialog>
  </div>
</template>
<script>
  export default {
    data: () => {
      return {
        tab: null,
        dialog: false,
        alert: false,
      }
    },
    mounted(){
      if (window.matchMedia('(display-mode: standalone)').matches) {
        console.log('display-mode is standalone');
      }else{
        //do something
        this.alert = true
      }
    }
  }
</script>
<style> 
#app {
  font-family: 'Quicksand', sans-serif!important;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
}
#openButton {
  background: black!important;
}
pwa-install::part(openButton) {
  background: black;
  border-radius: 70px;
}
:root {
  --install-button-color: black!important;
}
body {
  overflow: hidden; /* Hide scrollbars */
}
* {
  font-size: large;
  font-family: Quicksand!important;
  line-height: 22px;
}
.btm-al {
  bottom: 0;
  background: black!important;
  text-align: start;
  position: fixed!important;
  width: 100%;
  border-radius: 5px 5px 0px 0px!important;
  margin-bottom: 0!important;
  z-index: 9999;
}
</style>
